.content-div {
    display: grid;
    height: 96%;
    grid-template-areas:
        'header'
        'border'
        'tabs'
        'body'
        'footer';
    grid-template-rows: max-content max-content max-content 1fr 102px;
}

    .content-div > .header-div {
        grid-area: header;
        display: inline-grid;
        grid-template-areas:
            'icon elapsed'
            'icon title'
            'icon descirption';
        grid-template-columns: max-content max-content;
        gap: 0px;
        margin-left: 16px;
        /*margin-top: 16px;*/
    }

        .content-div > .header-div > .image-container-div {
            height: 32px;
            width: 32px;
            background-color: #FF7768;
            border-radius: 50%;
            display: inline-block;
            grid-area: icon;
            text-align: center;
        }

            .content-div > .header-div > .image-container-div > .icon-image {
                height: 20px;
                width: 20px;
                margin-top: 6px;
                position: relative;
                z-index: 2;
                color: white;
                filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(183deg) brightness(100%) contrast(100%);
            }

        .content-div > .header-div > .elapsed-label {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            margin-left: 16px;
            grid-area: elapsed;
        }

        .content-div > .header-div > .title-label {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            margin-left: 16px;
            margin-top: 14px;
            grid-area: title;
        }

        .content-div > .header-div > .description-label {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            margin-left: 16px;
            margin-top: 8px;
            grid-area: descirption;
        }

    .content-div > .header-dash-border-div {
        grid-area: border;
        border-top: 3px solid #E8E8E8;
        margin-top: 14px;
    }


.tab-group-container-div {
    grid-area: tabs;
    display: block;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    /*-webkit-flex-wrap: wrap;*/
    /*-moz-flex-wrap: wrap;*/
    /*flex-wrap: wrap;*/
    margin: 0;
    overflow: hidden;
}

.tab-group-container-div [class^="tab"] label,
.tab-group-container-div [class*=" tab"] label {
    color: #1A1A1A;
    cursor: pointer;
    display: block;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
}

    .tab-group-container-div [class^="tab-item"] [type="radio"],
    .tab-group-container-div [class*=" tab-item"] [type="radio"] {
        border-bottom: 1px solid rgba(239, 237, 239, 0.5);
        cursor: pointer;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        height: 2px;
        display: block;
        width: 100%;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

        .tab-group-container-div [class^="tab-item"] [type="radio"]:hover, .tabs [class^="tab"] [type="radio"]:focus,
        .tab-group-container-div [class*=" tab-item"] [type="radio"]:hover,
        .tab-group-container-div [class*=" tab-item"] [type="radio"]:focus {
            border-bottom: 1px solid;
            background: #006272;
            border-radius: 10px;
            height: 2px;
        }

        .tab-group-container-div [class^="tab-item"] [type="radio"]:checked,
        .tab-group-container-div [class*=" tab-item"] [type="radio"]:checked {
            border-bottom: 2px solid;
            background: #006272;
            border-radius: 10px;
            height: 2px;
        }
            .tab-group-container-div [class^="tab-item"] [type="radio"]:checked + div,
            .tab-group-container-div [class*=" tab-item"] [type="radio"]:checked + div {
                opacity: 1;
            }

        .tab-group-container-div [class^="tab-item"] [type="radio"] + div,
        .tab-group-container-div [class*=" tab-item"] [type="radio"] + div {
            display: block;
            opacity: 0;
            padding: 2rem 0;
            width: 90%;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }

.tab-group-container-div .tab-item-container-div {
    width: auto;
    margin-left: 16px;
    margin-bottom: 16px;
    margin-top: 24px;
}

.tab-group-container-div .tab-item-container-supplement-to-take-div {
    width: auto;
}

.tab-group-container-div .tab-item-container-all-supplements-div {
    width: auto;
}

.tab-group-container-div .tab-item-container-div [type="radio"] + div {
    width: auto;
    margin-left: 200%;
}

.tab-group-container-div .tab-item-container-div [type="radio"]:checked + div {
    margin-left: 0;
}

.tab-group-container-div .tab-item-container-div:last-child [type="radio"] + div {
    margin-left: 100%;
}

.tab-group-container-div .tab-item-container-div:last-child [type="radio"]:checked + div {
    margin-left: -100%;
}

.button-group-div {
    position: fixed;
    z-index: 4;
    width: 100%;
    height: 102px;
    left: 0px;
    background: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.15);
    border-radius: 6px 6px;
    bottom: 0px;
    padding: 16px;
}

    .button-group-div > button {
        width: 80px;
        height: 36px;
        border-radius: 40px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
    }

    .button-group-div > button {
        width: max-content;
        height: 36px;
        border-radius: 40px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        padding-left:16px;
        padding-right:16px;
    }

    .button-group-div > .content-back-to-feed-button {
        color: #FFFFFF;
        background: #006272;
        border: 1px solid #006272;
    }

.list-content-group-div {
    grid-area: body;
    /*grid-auto-rows: 15%;*/
    overflow-y: scroll;
    overflow-x: hidden;
    /*height: 250px;*/
    /*height: 34%;*/
}

.list-content-all-supplements-group-div {
    grid-area: body;
    grid-auto-rows: 15%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.action-button-grid-container {
    display: grid;
    grid-template-columns: auto auto;
    background-color: transparent;
    justify-items: center;
    justify-content: end;
    column-gap: 16px;
    margin:0px 16px 0px 0px;
    overflow-x:auto;
    overflow-y:hidden;
}

    .action-button-grid-container > .action-snooze-all-button {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        color: #006272;
        min-width: 75px;
        min-height: 36px;
        max-width: 133px;
        max-height: 36px;
        border: 1px solid #006272;
        border-radius: 40px;
        text-align: center;
        background-color: transparent;
        white-space: nowrap;
    }

    .action-button-grid-container > .action-mark-all-button {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        color: #006272;
        min-width: 144px;
        min-height: 36px;
        max-width: 203px;
        max-height: 36px;
        background-color: #D6F9FF;
        border-color: transparent;
        border-radius: 40px;
        white-space:nowrap;
    }

.black-cover-div {
    background-color: #1E1E1E;
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: 5;
    text-align: center;
}

.view-supplement-item-div {
    background-color: white;
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 6;
    text-align: center;
}