@font-face {
    font-family: 'Montserrat';
    src: url('../css/open-iconic/font/fonts/montserrat-variablefont_wght.ttf') format('truetype');
}
/* dynamic variable instantiation */
:root {
    --display-popup-variable: none;
}

html, body {
    font-family: Montserrat;
    overflow: hidden;
    max-height:100vh;
    max-width:100vw;
}
/* navigation bar stuff*/
.navigation-bar-background {
    position:fixed;
    overflow:hidden;
    background: white;
    height: 60px;
    top:0;
    padding: 16px;
}
.navigation-bar-button{
    background:none;
    color:black;
    border:none;
    outline:none;
}
.navigation-bar-button-icon {
    margin-top: -1px;
    width: 18px;
    height: 8px;
    vertical-align: middle;
    filter: brightness(0) saturate(100%);
}
.navigation-bar-text {
    display:inline;
    vertical-align:middle;
    margin:auto;
    top:50%;
    color: black;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 16px;
}

/*body*/
.content-wrapper{
    height:calc(100vh - 136px);
    margin-top:60px;
    overflow-y:auto;
    overflow-x:hidden;
    padding:16px;
}
.body-label{
    color:black;
    font-family:Montserrat;
    font-size:12px;
    font-weight:400;
    margin-bottom:4px;
}
.body-text {
    margin-top:4px;
    margin-bottom:16px;
    color: black;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
}
.body-divider {
    border-top: 1px solid #EEF0F2;
    margin-bottom:16px;
}

.body-button-container {
    border-radius: 16px;
    border: 1px solid #EEF0F2;
    margin-bottom:16px;
    display:grid;
    height:80px;
    grid-auto-columns:auto;
    grid-auto-rows: auto auto;
    padding:16px;
}
.body-button-label {
    grid-row:1;
    color: black;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    vertical-align:top;
}
.body-button-text {
    grid-row: 2;
    color: black;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    vertical-align: bottom;
}
.body-button-right-arrow {
    grid-row: 1/2;
    position:relative;
    align-self: center;
    justify-self: end;
    height: 16px;
    width: 16px;
}
.body-button-right-arrow-image {
    position:absolute;
    right:0px;
    margin-top:10px;
    filter: brightness(0) saturate(100%);
}

.body-disclaimer {
    margin-top:32px;
    margin-bottom:16px;
    color: black;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
}

/* footer */
.footer {
    position: fixed;
    bottom: 0;
    margin-top: 16px;
    height: 60px;
}
.logout-button {
    width: calc(100vw - 32px);
    margin-left: 16px;
    margin-right: 16px;
    outline: none;
    border: none;
    background: #F3D8DA;
    color: #BB111A;
    font-family:Montserrat;
    font-size:16px;
    font-weight:700;
    text-align:center;
    height:44px;
    line-height:44px;
    border-radius:200px;
}


@media only screen and (max-width: 400px) {

}