/*variables*/
:root[b-jyxw13b9jx] {
    --display-user-popup-variable: none;
}
/* navbar content */
.navbar-toggler[b-jyxw13b9jx] {
    color: rgba(255,255,255,255);
    border: none;
    height: 40px;
}

html[b-jyxw13b9jx], body[b-jyxw13b9jx] {
    font-family: Montserrat;
    overflow: hidden;
}

.product-name-label[b-jyxw13b9jx] {
    color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px
}

/* navbar content */
.navbar-light[b-jyxw13b9jx] {
    height: 2px;
    background-color: rgba(0,98,114,255);
    padding-bottom: 32px;
    padding-right: 15px;
    padding-left: 5px;
}

.oi[b-jyxw13b9jx] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}
.flex-column[b-jyxw13b9jx] {
    background-color: rgba(0,98,114,255);
}
/* navbar dropdown content */
.nav-item[b-jyxw13b9jx] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-jyxw13b9jx] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-jyxw13b9jx] {
        padding-bottom: 1rem;
    }

    .nav-item[b-jyxw13b9jx]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }
        /* current active highlight */
.nav-item[b-jyxw13b9jx]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}
        /* tap highlight */
.nav-item[b-jyxw13b9jx]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}
.AIR-logo[b-jyxw13b9jx]{
    height:24px;
}
.white-icon[b-jyxw13b9jx] {
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(183deg) brightness(100%) contrast(100%);
}



@media (min-width: 641px) {

}
