@model DataEntryTest.Models.EdsExerciseType

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>EdsExerciseType</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FkExerciseClassId" class="control-label"></label>
                <select asp-for="FkExerciseClassId" class ="form-control" asp-items="ViewBag.FkExerciseClassId"></select>
            </div>
            <div class="form-group">
                <label asp-for="FkMainMuscleWorkedId" class="control-label"></label>
                <select asp-for="FkMainMuscleWorkedId" class ="form-control" asp-items="ViewBag.FkMainMuscleWorkedId"></select>
            </div>
            <div class="form-group">
                <label asp-for="FkOtherMuscleWorkedId" class="control-label"></label>
                <select asp-for="FkOtherMuscleWorkedId" class ="form-control" asp-items="ViewBag.FkOtherMuscleWorkedId"></select>
            </div>
            <div class="form-group">
                <label asp-for="FkEquipmentId" class="control-label"></label>
                <select asp-for="FkEquipmentId" class ="form-control" asp-items="ViewBag.FkEquipmentId"></select>
            </div>
            <div class="form-group">
                <label asp-for="FkMechanicsTypeId" class="control-label"></label>
                <select asp-for="FkMechanicsTypeId" class ="form-control" asp-items="ViewBag.FkMechanicsTypeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="FkLevelId" class="control-label"></label>
                <select asp-for="FkLevelId" class ="form-control" asp-items="ViewBag.FkLevelId"></select>
            </div>
            <div class="form-group">
                <label asp-for="FkSportId" class="control-label"></label>
                <select asp-for="FkSportId" class ="form-control" asp-items="ViewBag.FkSportId"></select>
            </div>
            <div class="form-group">
                <label asp-for="FkForceId" class="control-label"></label>
                <select asp-for="FkForceId" class ="form-control" asp-items="ViewBag.FkForceId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ExplainerVideoFr" class="control-label"></label>
                <input asp-for="ExplainerVideoFr" class="form-control" />
                <span asp-validation-for="ExplainerVideoFr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExplainerTextFr" class="control-label"></label>
                <input asp-for="ExplainerTextFr" class="form-control" />
                <span asp-validation-for="ExplainerTextFr" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="HasSetDefaultTemplate" /> @Html.DisplayNameFor(model => model.HasSetDefaultTemplate)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsSetCollapsed" /> @Html.DisplayNameFor(model => model.IsSetCollapsed)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsDeleted" /> @Html.DisplayNameFor(model => model.IsDeleted)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
