@font-face {
    font-family: 'Montserrat';
    src: url('../css/open-iconic/font/fonts/montserrat-variablefont_wght.ttf') format('truetype');
}
/* dynamic variable instantiation */
:root {
    --display-popup-variable: none;
    --display-search-bar-variable: none;
    --display-favorite-popup-variable: none;
}

html, body {
    font-family: Montserrat;
    overflow: hidden;
    max-height: 100vh;
    max-width: 100vw;
    background-color: #006272;
}


.popup-header-group {
    height: 40px;
}

.popup-header-close-button {
    position: absolute;
    right: 0px;
    top: 0px;
    margin: 16px;
    width: fit-content;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 500px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    color: black;
    padding-top: 8px;
    padding-bottom: 8px;
    background: none;
    border: 1px solid #EEF0F2;
}

.popup-header-close-button-icon {
    filter: invert(0%) sepia(100%) saturate(8%) hue-rotate(125deg) brightness(107%) contrast(101%);
}

.popup-wrapper {
    position: absolute;
    font-family: Montserrat;
    display: var(--display-popup-variable);
}
.popup-background-dark-overlay {
    background-color: rgba(25, 25, 25,0.6);
    position: fixed;
    height: 100vh;
    display: block;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 5;
}

.popup-background {
    position: fixed;
    padding: 0px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    height: 60vh;
    top: 40vh;
    width: 100vw;
    left: 0;
    background-color: white;
    z-index: 6;
}
.popup-body {
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0px;
    padding-top: 10px;
    height: calc(60vh - 0px);
    place-content: center;
}

.popup-feed-item-wrapper {
    border: 1px solid #EEF0F2;
    border-radius:12px;
    padding:16px;
    margin:16px;
}

.popup-feed-item-name {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 4px;
    color: #333333;
}

.popup-feed-item-time-elapsed-group {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 16px auto;
    margin-bottom: 8px;
    color: #4D4D4D;
}

.popup-feed-item-clock-icon {
    grid-row: 1;
    grid-column: 1;
    fill: black;
    width: 12px;
    align-content: center;
    margin-top: 3px;
    height: 12px;
}

.popup-feed-item-time-elapsed-text {
    grid-column: 2;
    grid-row: 1;
    font-size: 12px;
    font-weight: 400;
}

.popup-feed-item-subtext {
    font-size: 12px;
    font-weight: 400;
    color: #1A1A1A;
}


.popup-list {
}

.popup-item-wrapper {
    padding: 0px;
    margin-bottom: 0px;
    margin-left:16px;
}

.popup-item {
    font-family: Montserrat;
    color: black;
    height: fit-content;
    display: grid;
    grid-template-columns: 60px auto 52px;
    grid-template-rows: 72px;
    align-items: center;
    border-bottom: 1px solid #EEF0F2;
}

.popup-item-icon {
    height: 24px;
    width: 24px;
    grid-column: 1;
    grid-row: 1;
    margin-left: 0px;
}

.popup-item-name-text {
    font-size: 16px;
    grid-column: 2;
    grid-row: 1;
    color: #1A1A1A;
    overflow-y: auto;
    align-content: flex-start;
    vertical-align: central;
    white-space: nowrap;
}

.popup-item-right-button {
    background: white;
    border: none;
    color: black;
    grid-row: 1;
    grid-column: 3;
}
.popup-item-right-button-icon{
    width:4.67px;
    height:9.33px;
}

@media only screen and (max-width: 400px) {
}