.content-div {
    background-color: white;
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 87%;
    z-index: 6;
    /*text-align: center;*/
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
    border-radius: 12px 12px 0px 0px;
    bottom: 0px;
}

.button-content-group-div {
    margin-right: 16px;
    margin-top: 24px;
    height: 36px;
    flex: 0 0 auto;
}

.button-content-group-div > .close-button-icon-image {
    width: 14px;
    height: 14px;
    margin-right:16px;
}

.close-button-icon-image {
    margin-right: 4px;
}

.close-button {
    float: right;
    /*    margin-right: 16px;
    margin-top: 24px;*/
    padding: 8px 12px;
    /*width: 84px;*/
    width: 100px;
    height: 36px;
    border: 1px solid #EEF0F2;
    border-radius: 40px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: black;
    align-items: center;
    display: flex;
    padding-left: 12px;
}

.button-container-div {
    width: 100%;
    display: inline-grid;
    grid: 'button blank gotobutton';
    grid-template-columns: max-content auto max-content;
    margin-top:16px;
    margin-left:16px;
    margin-right:16px;
}
.button-div {
    grid-area: button;
    border-color: transparent;
    background-color: transparent;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #1A1A1A;
}

.block-div {
    grid-area: blank;
    width: 100%;
}

.go-to-div {
    grid-area: gotobutton;
    width: 24px;
    height: 24px;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-right: 40px;
    justify-self: end;
    font-weight: 700;
}

.solid-border-div {
    border-top: 1px solid black;
    margin-top: 8px;
    margin-left: 16px;
}

.button-icon-image{
    margin-bottom:4px;
    height:20px;
    width:20px;
}

.scrollable-div {
    margin-top: 16px;
    /*height: 352px;*/
    flex: 1 1 auto;
    height: 30%;
    overflow-x: hidden;
    overflow-y: scroll;
    bottom: 0px;
}

.scroll-support-div{
    height:37px;
}

.black-cover-div {
    background-color: #1E1E1E;
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: 6;
    text-align: center;
}