@page "/DashboardHeader"

 <NavMenu  AddButtonHidden=true/>


<!-- header -->
<div class="tab-item-navigation-div">
        <button type="button" class="button-header" id="feedbutton" @onclick="FeedButton_Click">Feed</button>

    @if (ParentMiddleWare.MiddleWare.FkFederatedUser != string.Empty)
        {
            <!-- <button type="button" class="button-header" id="chatbutton" onclick="ChatButton_Click">Chat</button> -->
        }

        <button type="button" class="button-header" id="dashboardbutton" @onclick="async()=> await DashboardButton_Click()">Dashboard</button>
        @*<button type="button" class="button-header" id="biodatabutton" @onclick="async()=> await BioDataButton_Click()">BioData</button>*@
</div>