.float-right{
    float:right;
}

.supplement-card {
    position:relative;
    padding: 10px;
    background: rgba(10,10,10,0.02);
    border: 1px solid rgba(10,10,10,0.1);
    bottom:10px;
    margin-bottom:10px;
}

.supplement-card > div span a{
    font-size:2rem;
    color:black;
    text-decoration:none;
}

    .supplement-card > div span a:hover {
        text-decoration:underline;
    }
        .text-size{
    font-size:0.85rem;
}


.plan-title {
    margin-top:-10px;
}

.showRemarks{
    cursor:pointer;
}

.showRemarks:hover{
    text-decoration:underline;
}

.plan_summary {
    margin-left: 10px;
}

.plan_summary:hover {
    padding: 5px;
    margin-left: 10px;
    border-radius: 5px;
    width: auto;
    cursor: pointer;
    background: #0d6efd;
    color: white;
    transition:all 0.5s;
}

.content{
    position:relative;
    margin:0 auto;
    width:100%;
}

@media screen and (max-width: 731px) {
    .plan-title {
            order: 1;
            text-align: center;
            margin-bottom: 10px;
        }

        .plan-status {
            order: 2;
        }
    }