.content-div[b-aukp499u09] {
    position: fixed;
    display: grid;
    /* height: 500px; */
    grid-template-areas:
        'body'
        'footer';
    grid-template-rows: 1fr auto;
    background-color: white;
    bottom: 0px;
    width: 100%;
    height: 100%;
}

.list-content-group-div[b-aukp499u09] {
    display: grid;
    grid-auto-rows: max-content;
    grid-row-gap: 12px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 8px;
    margin-bottom: 8px;
}

.user-sent-message-blank-div[b-aukp499u09] {
}

.user-sent-message-div[b-aukp499u09] {
    justify-self: end;
    width: fit-content;
    height:fit-content;
    max-width: 200px;
    float: right;
    background: #006272;
    border-radius: 5px;
    text-align: right;
    padding: 2px;
    margin-right: 8px;
    display: flex;
    flex-direction: column;
}

    /*.user-sent-message-div > .image-container {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        
    }*/

    .user-sent-message-div > .message-image[b-aukp499u09] {
        flex-grow: 1;
        object-fit: contain;
        margin: 3px;
        pointer-events: none;
        border-radius: 5px;
        max-height: 150px;
        max-width: 200px;
    }

    .user-sent-message-div > .message-text-label[b-aukp499u09] {
        font-size: 14px;
        font-family: 'Montserrat';
        font-weight: 400;
        font-style: normal;
        margin-top: 5px;
        color: white;
        background-color: #006272;
        border-radius: 5px;
        padding: 5px 8px;
        word-break: break-word;
        white-space: pre-line;
    }

    


    .user-sent-message-div > .time-stamp-container-div[b-aukp499u09] {
        display: flex;
        align-items: center;
        justify-self: right;
        margin: 5px;
    }

        .user-sent-message-div > .time-stamp-container-div > .user-message-check-image[b-aukp499u09] {
            color: white;
            height: 20px;
            width: 20px;
        }

        .user-sent-message-div > .time-stamp-container-div > .time-stamp-label[b-aukp499u09] {
            font-size: 11px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            color: white;
            height:13px;
        }


.server-sent-message-blank-div[b-aukp499u09] {
}

.server-sent-message-div[b-aukp499u09] {
    justify-self: start;
    width: fit-content;
    height: fit-content;
    max-width: 200px;
    float: left;
    background: #EEF0F2;
    border-radius: 0px 8px 8px 8px;
    padding: 8px;
    margin-left: 8px;
}

    .server-sent-message-div > .message-imahe[b-aukp499u09] {
        flex-grow: 1;
        object-fit: contain;
        margin: 3px;
        pointer-events: none;
        border-radius: 5px;
        max-height: 150px;
        max-width: 200px;
    }

    .server-sent-message-div > .username-label[b-aukp499u09] {
        font-size: 12px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
    }

    .server-sent-message-div > .server-sent-time-container-div[b-aukp499u09] {
        justify-self: end;
        text-align: right;
    }

    .server-sent-message-div > .server-sent-time-container-div > .time-stamp-label[b-aukp499u09] {
        justify-self: end;
        text-align: right;
        align-self: end;
        font-size: 11px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        color: #85929B;
    }

    .server-sent-message-div > .message-text-label[b-aukp499u09] {
        font-size: 14px;
        font-weight: 400;
        word-break: break-word;
        white-space: pre-line;
        margin-bottom: 0px;
    }

.footer-content-group-div[b-aukp499u09] {
    grid-area: footer;
    border-top: 1px solid #85929B;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
}

.textarea-container[b-aukp499u09] {
    position: relative;
    display: flex;
    align-items: center;
    flex-grow: 1;
    max-width: 80%;
    overflow: hidden;
    height: fit-content;
    margin: 0;
}
    .textarea-container > .chat-input[b-aukp499u09] {
        flex: 1;
        height: 24px;
        border: none;
        outline: none;
        transition: max-width 0.3s ease; 
        width: 100%;
        height: 24px;
        padding: 0;
        margin: 0;
        vertical-align: central;
    }


.buttonarea-container[b-aukp499u09] {
    display: flex;
    align-items: center;
    margin: 0px;
    height: 24px;
}

    .buttonarea-container > .send-button[b-aukp499u09] {
        border: transparent;
        background-color: transparent;
        margin: 0px 8px 0px 8px;
        height: 24px;
        width: 24px;
        vertical-align: central;
    }



.date-header-div[b-aukp499u09] {
    justify-self: center;
}

    .date-header-div > .date-header-label[b-aukp499u09] {
        text-align: center;
        color: #85929B;
        font-family: 'Montserrat';
        font-size: 12px;
        font-weight: 400;
    }

    .chat-input[b-aukp499u09] {
        font-family: Montserrat;
    }
    .chat-input:focus[b-aukp499u09]{
        outline:none;
    }