@font-face {
    font-family: 'Montserrat';
    src: url('../css/open-iconic/font/fonts/montserrat-variablefont_wght.ttf') format('truetype');
}

#hidden[b-ks7hjf3382] {
    display: none;
}

html[b-ks7hjf3382], body[b-ks7hjf3382] {
    font-family: Montserrat;
    overflow: hidden;
    max-height: 100vh;
    max-width: 100vw;
}

*[b-ks7hjf3382], html[b-ks7hjf3382] {
    scroll-behavior: smooth !important;
}

/*#region dynamic variable instantiation */
:root[b-ks7hjf3382] {
    --display-nutrient-popup-variable: none;
    --display-add-dish-popup-variable: none;
    --display-mindfulness-popup-variable: none;
    --display-add-new-popup-variable: none;
    --display-favorite-popup-variable: none;
    --display-footer: inline;
}
/*#endregion*/


.btn-group[b-ks7hjf3382] {
    display: block;
    outline: none;
}

.btn-secondary[b-ks7hjf3382] {
    background-color: white;
    color: black;
    border-radius: 30px;
    margin: 0px;
    border-width: 2px;
}
/*#region header*/
.tab-item-navigation-div[b-ks7hjf3382] {
    background-color: rgba(0,98,114,255);
    margin-left: 16px;
    margin-top: 32px;
    height: 60px;
}
.button-header[b-ks7hjf3382] {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    outline: none;
    text-align: center;
    background-color: rgba(0,0,0,0);
    border-radius: 0px;
    border-color: rgba(0,0,0,0);
}

.selected[b-ks7hjf3382] {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    text-align: center;
}
/* header buttons animated underline */
#underline[b-ks7hjf3382] {
    content: "";
    position: relative;
    bottom: 0;
    /*
    left: var(--headerslideranimation-left);
    width: var(--headerslideranimation-width);
        */
    left: 0px;
    width: 0px;
    height: 2px;
    border-radius: 10px;
    background-color: white;
    /*transition: left 0.5s ease, width 0.5s ease;*/
    transition: left 0.2s ease, width 0.2s ease;
}
/*greeting background*/
.dashboard-header[b-ks7hjf3382] {
    background-color: rgba(0,88,103,255);
    position:relative;
    border-radius: 15px;
    padding-top: 15px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.dashboard-dartboard-image[b-ks7hjf3382]{
    position:absolute;
    float:right;
    right:-8px;
    top:-16px;
}
/* greeting header */
.greeting-label[b-ks7hjf3382] {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    margin-top: 12px;
    margin-left: 12px;
}

/* greeting body */
.subgreeting-label[b-ks7hjf3382] {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
    margin-top: 8px;
    margin-left: 12px;
}

.swipe-down-to-know-more-label[b-ks7hjf3382] {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
    margin-top: 8px;
    margin-left: 12px;
}
/*#endregion*/

/*#region card contents*/
.content-body[b-ks7hjf3382] {
    margin: 10px;
    text-align: center;
}

.content-header[b-ks7hjf3382] {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 16px;
    margin-top: 6px;
    /*margin-left: 16px;*/
    margin-left: 8px;
    width: 39px;
    height: 20px;
    color: #1A1A1A;
}

#NowFeedList[b-ks7hjf3382]{
    margin-top:20px;
}

.content-group[b-ks7hjf3382] {
    /*height: 68%;*/
    /*height: calc(100vh - 260px);*/
    height: calc(100% - 260px);
    background-color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    /*padding-top: 20px;*/
    padding-left: 10px;
    padding-right: 10px;
    bottom: 0;
    display: grid;
    padding-bottom: 0px;
    position: fixed;
    width: 100%;
    grid-template-areas:
        'header'
        'body'
        'footer';
    grid-template-rows: max-content 1fr 90px;
    transition:ease-in-out;
    padding-top:24px;
}

    .content-group > .resize-rectangle-content-group-div[b-ks7hjf3382] {
        grid-area: header;
        width: 100%;
        height: 34px;
        display: grid;
        justify-content: center;
        align-content: center;
        margin-top: 0px;
        padding-top: 12px;
    }

        .content-group > .resize-rectangle-content-group-div > .resize-rectangle-div[b-ks7hjf3382] {
            /*position: absolute;*/
            width: 24px;
            height: 4px;
            /*left: 176px;*/
            /*top: 16px;*/
            background: #D9D9D9;
            border-radius: 4px;
            margin-top: 0px;
            margin-bottom: 16px;
        }

/*feed item background*/
.content-background[b-ks7hjf3382] {
    grid-area: body;
    /*height: calc(100vh - 375px);*/
     /*height: 100%;*/
    position: relative;
    overflow-y: scroll;
    overscroll-behavior: none;
}

.white-icon[b-ks7hjf3382] {
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(183deg) brightness(100%) contrast(100%);
}

.feed-item-icon[b-ks7hjf3382] {
    height: 20px;
    width: 20px;
    margin-top: 6px;
    position: relative;
    z-index: 2;
}
/*exercise bg*/
.blue-circle[b-ks7hjf3382] {
    position: absolute;
    background-color: #0072DB;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    z-index: 1;
    text-align: center;
}
/*Supplement bg*/
.orange-circle[b-ks7hjf3382] {
    position: absolute;
    background-color: #FF7768;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    z-index: 1;
    text-align: center;
}
/*Nutrient bg*/
.yellow-circle[b-ks7hjf3382] {
    position: absolute;
    background-color: #F3C522;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    z-index: 1;
    text-align:center;
}
/*mindfulness bg*/
.red-circle[b-ks7hjf3382] {
    position: absolute;
    background-color: #FF7768;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    z-index: 1;
    text-align: center;
}
.content-group-scroll-support-div[b-ks7hjf3382] {
    /* Hack only to scroll */
    height: 136px;
    width: 20px;
}

.feed-item-time-elapsed-group-div[b-ks7hjf3382] {
    display: flex;
    margin-left: 16px;
    margin-top: 16px;
}

.feed-item-time-elapsed-icon-image[b-ks7hjf3382] {
    fill: black;
    width: 12px;
    height: 12px;
}
.feed-item-fire-icon-image[b-ks7hjf3382] {
    width: 12px;
    height: 15px;
    margin-left: 16px;
    margin-top: 0px;
}
.feed-item-mail-icon-image[b-ks7hjf3382] {
    width: 13px;
    height: 11px;
    margin-left: 16px;
}
.feed-item-skipped-icon-image[b-ks7hjf3382] {
    filter: invert(15%) sepia(73%) saturate(4949%) hue-rotate(349deg) brightness(80%) contrast(99%);
    width: 12px;
    height: 12px;
}
.feed-item-skipped-text[b-ks7hjf3382] {
    color: #BB111A;
}
.feed-item-completed-icon-image[b-ks7hjf3382] {
    filter: invert(29%) sepia(89%) saturate(650%) hue-rotate(146deg) brightness(86%) contrast(101%);
    width: 12px;
    height: 12px;
}
.feed-item-completed-text[b-ks7hjf3382] {
    color: #006272;
}

.feed-item-time-elapsed-div[b-ks7hjf3382] {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    margin-left: 10px;
}
.primary-color-icon[b-ks7hjf3382] {
    filter: invert(13%) sepia(79%) saturate(4661%) hue-rotate(177deg) brightness(101%) contrast(103%);
}
.feed-item-time-elapsed-blue[b-ks7hjf3382] {
    color: #006272;
}
.feed-item-menu[b-ks7hjf3382]{
    position:absolute;
    right:48px;
    margin-top:-24px;
    background:none;
    outline:none;
    border:none;
}
.feed-item-menu-icon[b-ks7hjf3382] {
    height:20px;
    width:20px;
    filter: invert(60%) sepia(14%) saturate(283%) hue-rotate(161deg) brightness(93%) contrast(89%);
}
.feed-item-title-div[b-ks7hjf3382] {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-top: 12px;
    margin-left: 16px;
    text-align: left;
}

.home-screen-training-session-now-feed-item-div > .header-dash-border-div[b-ks7hjf3382] {
    border-top: 1px dashed #E8E8E8;
    margin-top: 16px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 20px;
}

.feed-item-description-div[b-ks7hjf3382] {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #1A1A1A;
    margin-left: 16px;
    margin-top: 8px;
    text-align: left;
}

.feed-item-alert-description[b-ks7hjf3382] {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #BB111A;
    margin-left: 16px;
    margin-top: 8px;
    text-align: left;
}

/*feed item special description stuff*/
.feed-item-nutrient-calorie-intake-text[b-ks7hjf3382] {
    font-family: 'Montserrat';
    color: #1A1A1A;
    font-size:12px;
    font-weight:400;
}
.feed-item-nutrient-note-text[b-ks7hjf3382] {
    font-family: 'Montserrat';
    color: #1A1A1A;
    font-size: 12px;
    font-weight: 400;
}
.feed-item-nutrient-calorie-intake-value[b-ks7hjf3382] {
    font-family: 'Montserrat';
    color: #1A1A1A;
    font-size: 12px;
    font-weight: 500;
}

.feed-item-snooze-button[b-ks7hjf3382] {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #006272;
    border: 1px solid #006272;
    border-radius: 40px;
    background: #FFFFFF;
    max-width: fit-content;
    padding-left: 15px;
    padding-right: 15px;
    height: 36px;
    margin-left: 10px;
    margin-top: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.feed-item-start-button-icon[b-ks7hjf3382] {
    margin-right:5px;
    width: 12px;
    height: 12px;
    align-self: center;
}

.feed-item-start-button2[b-ks7hjf3382] {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    background: #006272;
    border-radius: 40px;
    max-width: fit-content;
    padding-left: 14px;
    padding-right: 14px;
    height: 36px;
    border-color: #006272;
    border: thick;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.feed-item-supplement-start-button[b-ks7hjf3382] {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    background: #006272;
    border-radius: 40px;
    height: 36px;
    border-color: #006272;
    border: thick;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 12px;
    max-width: max-content;
    padding-left: 16px;
    padding-right: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.feed-item-continue-button[b-ks7hjf3382] {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    background: #006272;
    border-radius: 40px;
    max-width: fit-content;
    padding-left: 14px;
    padding-right: 14px;
    height: 36px;
    border-color: #006272;
    border: thick;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.feed-item-supplement-continue-button[b-ks7hjf3382] {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    background: #006272;
    border-radius: 40px;
    max-width: fit-content;
    height: 36px;
    border-color: #006272;
    border: thick;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 12px;
    width: max-content;
    padding-left: 16px;
    padding-right: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.feed-item-undo-button[b-ks7hjf3382] {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #006272;
    border: none;
    background: none;
    max-width: fit-content;
    height: 36px;
    margin-left: 10px;
    margin-top: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.feed-item-summary-button[b-ks7hjf3382] {
    font-family: 'Montserrat';
    font-style: normal;
    justify-content: right;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #006272;
    border: none;
    background: none;
    max-width: max-content;
    height: 36px;
    margin-left: 10px;
    margin-top: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.feed-item-see-details-button[b-ks7hjf3382] {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    justify-content:right;
    line-height: 20px;
    color: #006272;
    border: none;
    background: none;
    width: max-content;
    height: 36px;
    margin-left: 10px;
    margin-top: 12px;
}
/*card item*/
.home-screen-training-session-now-feed-item-div[b-ks7hjf3382] {
    font-family: 'Montserrat';
    text-align: left;
    border: solid;
    border-width: 2px;
    border-color: rgba(232,232,232,255);
    border-radius: 15px;
    margin-right: 20px;
    margin-left: 40px;
    margin-bottom:24px;
    padding: 15px;
}
/*#endregion*/

.smoothed[b-ks7hjf3382] {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*#region footer */
.footer-mask[b-ks7hjf3382] {
    display:var(--display-footer);
    position: relative;
    z-index: 3;
}
/*footer background*/
.footer[b-ks7hjf3382] {
    position: fixed;
    width: 100%;
    bottom: 0px;
    display:grid;
    grid-template-columns: auto auto auto;
    grid-template-rows:auto;
    align-content:center;
    height: 90px;
    background: white;
    box-shadow: 0px 0px 40px 10px rgba(232,232,232,255);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
/*footer left area*/
.footer-left[b-ks7hjf3382] {
    font-family: 'Montserrat';
    grid-column: 1;
    grid-row: 1;
    border: solid;
    align-self: start;
    border-width: 4px;
    color: #4C4C4C;
    font-size: 14px;
    border-color: #EEF0F2;
    border-radius: 40px;
    position: fixed;
    text-align: center;
    vertical-align: middle;
    width: fit-content;
    bottom: 25px;
    height: 40px;
    left: 20px;
    padding-left:10px;
    padding-right:10px;
    float: left;
}
.datepicker-button[b-ks7hjf3382] {
    height: 40px;
    margin-top: -4px;
    text-align: center;
    padding: 0px;
    font-family: Montserrat;
    color: black;
    max-width: fit-content;
    background: none;
    border: none;
    outline: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.datepicker-image[b-ks7hjf3382] {
    margin-top:-3px;
    height: 10px;
}
.datepicker-prev-button[b-ks7hjf3382] {
    margin-left:10px;
}

.datepicker-next-button[b-ks7hjf3382] {
    margin-right:10px;
}
/*footer right area*/
.footer-right[b-ks7hjf3382] {
    position: fixed;
    text-align: center;
    bottom: 25px;
    right: 20px;
    vertical-align: middle;
    align-content:center;
    float: left;
}

.new-item-button-icon[b-ks7hjf3382] {
    filter: invert(21%) sepia(71%) saturate(2103%) hue-rotate(165deg) brightness(94%) contrast(102%);
    height: 14px;
    width: 15px;
    margin-bottom: 3px;
    margin-right: 3px;
    position: relative;
    vertical-align: middle;
    transition: ease;
}
/* + new button */
.new-item-button[b-ks7hjf3382] {
    position: relative;
    background-color: #D6F9FF;
    vertical-align:middle;
    color: #1B7584;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: bold;
    text-align:center;
    outline:none;
    border:none;
    height: 40px;
    width: 90px;
    border-radius: 40px;
}
/*#endregion*/


/*#region feed item details*/
.feed-item-exercise-details-content-group-resize-rectangle-content-group-div[b-ks7hjf3382] {
}



.feed-item-exercise-details-content-group-div[b-ks7hjf3382] {
    position: fixed;
    width: 100%;
    /*height: 492px;*/
    /*height: 100%;*/
    left: 0px;
    /*top: 320px;*/
    /*background: #FFFFFF;*/
    background-color: white;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.15);
    z-index: 4;
    border-radius: 6px 6px;
    /*overflow-y:scroll;*/
    bottom: 0px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

    .feed-item-exercise-details-content-group-div > .resize-rectangle-content-group-div[b-ks7hjf3382] {
        width: 100%;
        height: 34px;
        display: grid;
        justify-content: center;
        align-content: center;
        margin-top: 0px;
        padding-top: 12px;
    }

        .feed-item-exercise-details-content-group-div > .resize-rectangle-content-group-div > .resize-rectangle-div[b-ks7hjf3382] {
            /*position: absolute;*/
            width: 24px;
            height: 4px;
            /*left: 176px;*/
            /*top: 16px;*/
            background: #D9D9D9;
            border-radius: 4px;
            margin-top: 0px;
            margin-bottom:16px;
        }

.feed-item-exercise-details-content-div[b-ks7hjf3382] {
    display: block;
}

    .feed-item-exercise-details-content-div > .feed-item-exercise-details-header-div[b-ks7hjf3382] {
        display: inline-grid;
        grid-template-areas:
            'icon elapsed'
            'icon title'
            'icon descirption';
        gap: 0px;
        margin-left: 16px;
        /*margin-top: 16px;*/
    }

        .feed-item-exercise-details-content-div > .feed-item-exercise-details-header-div > .image-container-div[b-ks7hjf3382] {
            height: 32px;
            width: 32px;
            background-color: #0072DB;
            border-radius: 50%;
            display: inline-block;
            position:center;
            padding-left:4px;
            grid-area: icon;
        }
        .feed-item-exercise-icon-image[b-ks7hjf3382] {
            height: 44px;
            width: 44px;
            display: inline;
            margin-top:-2px;
            grid-area: icon;
            border-radius:8px;
        }
.feed-item-exercise-detail-barbell-icon[b-ks7hjf3382] {
            height: 20px;
            width: 20px;
            margin-top:5px;
            margin-left:2px;
            display: inline;
            grid-area: icon;
        }
        .feed-item-exercise-details-content-div > .feed-item-exercise-details-header-div > .feed-item-time-exercise-details-elapsed-label[b-ks7hjf3382] {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            margin-left: 16px;
            grid-area: elapsed;
        }

        .feed-item-exercise-details-content-div > .feed-item-exercise-details-header-div > .feed-item-exercise-details-title-label[b-ks7hjf3382] {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            margin-left: 24px;
            margin-top: 14px;
            grid-area: title;
        }

        .feed-item-exercise-details-content-div > .feed-item-exercise-details-header-div > .feed-item-exercise-details-description-label[b-ks7hjf3382] {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            margin-left: 24px;
            margin-top: 8px;
            grid-area: descirption;
        }

    .feed-item-exercise-details-content-div > .header-dash-border-div[b-ks7hjf3382] {
        border-top: 3px dashed #E8E8E8;
        margin-top: 14px;
    }

.black-cover-div[b-ks7hjf3382] {
    background-color: #1E1E1E;
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: 3;
    text-align: center;
}


.feed-exercise-details-tab-group-container-div[b-ks7hjf3382] {
    display: block;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    overflow: hidden;
}

    .feed-exercise-details-tab-group-container-div [class^="feed-exercise-details-tab"] label[b-ks7hjf3382],
    .feed-exercise-details-tab-group-container-div [class*=" feed-exercise-details-tab"] label[b-ks7hjf3382] {
        color: #1A1A1A;
        cursor: pointer;
        display: block;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
    }

    .feed-exercise-details-tab-group-container-div [class^="feed-exercise-details-tab"] [type="radio"][b-ks7hjf3382],
    .feed-exercise-details-tab-group-container-div [class*=" feed-exercise-details-tab"] [type="radio"][b-ks7hjf3382] {
        border-bottom: 1px solid rgba(239, 237, 239, 0.5);
        cursor: pointer;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        filter: grayscale(1);
        height: 2px;
        display: block;
        width: 100%;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

        .feed-exercise-details-tab-group-container-div [class^="feed-exercise-details-tab"] [type="radio"]:hover[b-ks7hjf3382], .tabs [class^="tab"] [type="radio"]:focus[b-ks7hjf3382],
        .feed-exercise-details-tab-group-container-div [class*=" feed-exercise-details-tab"] [type="radio"]:hover[b-ks7hjf3382],
        .feed-exercise-details-tab-group-container-div [class*=" feed-exercise-details-tab"] [type="radio"]:focus[b-ks7hjf3382] {
            border-bottom: 1px solid;
            background: #379237;
            filter: grayscale(1);
            height: 2px;
            border-radius: 10px;
        }

        .feed-exercise-details-tab-group-container-div [class^="feed-exercise-details-tab"] [type="radio"]:checked[b-ks7hjf3382],
        .feed-exercise-details-tab-group-container-div [class*=" feed-exercise-details-tab"] [type="radio"]:checked[b-ks7hjf3382] {
            border-bottom: 2px solid;
            background: #379237;
            height: 2px;
            border-radius: 10px;
        }

            .feed-exercise-details-tab-group-container-div [class^="feed-exercise-details-tab"] [type="radio"]:checked + div[b-ks7hjf3382],
            .feed-exercise-details-tab-group-container-div [class*=" feed-exercise-details-tab"] [type="radio"]:checked + div[b-ks7hjf3382] {
                opacity: 1;
            }

        .feed-exercise-details-tab-group-container-div [class^="feed-exercise-details-tab"] [type="radio"] + div[b-ks7hjf3382],
        .feed-exercise-details-tab-group-container-div [class*=" feed-exercise-details-tab"] [type="radio"] + div[b-ks7hjf3382] {
            display: block;
            opacity: 0;
            padding: 2rem 0;
            height: 2px;
            width: 90%;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }

    .feed-exercise-details-tab-group-container-div .feed-exercise-details-tab-item-container-div[b-ks7hjf3382] {
        width: auto;
        margin-left: 16px;
        margin-bottom: 16px;
        margin-top: 24px;
    }

    .feed-exercise-details-tab-group-container-div .tab-item-container-whats-inside-div[b-ks7hjf3382] {
        width: auto;
    }

    .feed-exercise-details-tab-group-container-div .tab-item-container-history-div[b-ks7hjf3382] {
        width: auto;
    }

    .feed-exercise-details-tab-group-container-div .feed-exercise-details-tab-item-container-div [type="radio"] + div[b-ks7hjf3382] {
        width: auto;
        margin-left: 200%;
    }

    .feed-exercise-details-tab-group-container-div .feed-exercise-details-tab-item-container-div [type="radio"]:checked + div[b-ks7hjf3382] {
        margin-left: 0;
    }

    .feed-exercise-details-tab-group-container-div .feed-exercise-details-tab-item-container-div:last-child [type="radio"] + div[b-ks7hjf3382] {
        margin-left: 100%;
    }

    .feed-exercise-details-tab-group-container-div .feed-exercise-details-tab-item-container-div:last-child [type="radio"]:checked + div[b-ks7hjf3382] {
        margin-left: -100%;
    }


.feed-item-exercise-list-content-group[b-ks7hjf3382] {
    overflow-y: auto;
    height: 250px;
}

.feed-item-exercise-list-row-div[b-ks7hjf3382] {
    content: "";
    display: flex;
    clear: both;
    margin-top: 16px;
}

    .feed-item-exercise-list-row-div > .feed-item-exercise-list-column-div[b-ks7hjf3382] {
        height: 76px;
        border: 1px solid #EEF0F2;
        border-radius: 12px;
        width: 100%;
        margin-left: 16px;
        margin-bottom: 16px;
        margin-right: 16px;
    }

        .feed-item-exercise-list-row-div > .feed-item-exercise-list-column-div > .feed-item-exercise-list-card-div[b-ks7hjf3382] {
            display: inline-grid;
            grid-template-areas:
                'icon title'
                'icon descirption';
            /*gap: 0px;*/

            padding: 16px;
            gap: 12px;
        }

            .feed-item-exercise-list-row-div > .feed-item-exercise-list-column-div > .feed-item-exercise-list-card-div > .image-container-div[b-ks7hjf3382] {
                height: 24px;
                width: 24px;
                border-radius: 50%;
                display: inline-block;
                grid-area: icon;
            }

            .feed-item-exercise-list-row-div > .feed-item-exercise-list-column-div > .feed-item-exercise-list-card-div > .feed-item-exercise-title-label[b-ks7hjf3382] {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 16px;
                margin-left: 16px;
                grid-area: title;
            }

            .feed-item-exercise-list-row-div > .feed-item-exercise-list-column-div > .feed-item-exercise-list-card-div > .feed-item-exercise-description-label[b-ks7hjf3382] {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 16px;
                margin-left: 16px;
                grid-area: descirption;
            }

.feed-item-exercise-details-content-group-div > .feed-item-exercise-details-menu-button-div[b-ks7hjf3382] {
    position: fixed;
    width: 50%;
    height: 102px;
    z-index: 5;
    left: 0px;
    background: none;
    border-radius: 6px 6px;
    bottom: 0px;
    padding: 16px;
}
.feed-item-exercise-details-menu-button[b-ks7hjf3382] {
    position:relative;
    background: none;
    outline: none;
    border: none;
}
.feed-item-exercise-details-content-group-div > .feed-item-exercise-details-button-group-div[b-ks7hjf3382] {
    position: fixed;
    width: 100%;
    height: 102px;
    left: 0px;
    z-index: 4;
    background: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.15);
    border-radius: 6px 6px;
    bottom: 0px;
    padding: 16px;
}

    .feed-item-exercise-details-content-group-div > .feed-item-exercise-details-button-group-div > button[b-ks7hjf3382] {
        width: 80px;
        height: 36px;
        border-radius: 40px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
    }

    .feed-item-exercise-details-content-group-div > .feed-item-exercise-details-button-group-div > button[b-ks7hjf3382] {
        width: 80px;
        height: 36px;
        border-radius: 40px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
    }

    .feed-item-exercise-details-content-group-div > .feed-item-exercise-details-button-group-div > .feed-item-exercise-details-content-more-button[b-ks7hjf3382] {
        color: #006272;
        border: none;
        background-color: transparent;
    }

    .feed-item-exercise-details-content-group-div > .feed-item-exercise-details-button-group-div > .feed-item-exercise-details-content-snooze-button[b-ks7hjf3382] {
        color: #006272;
        border: 1px solid #006272;
        width:90px;
        background-color: transparent;
    }

    .feed-item-exercise-details-content-group-div > .feed-item-exercise-details-button-group-div > .feed-item-exercise-details-content-start-button[b-ks7hjf3382] {
        color: #FFFFFF;
        background: #006272;
        border: 1px solid #006272;
    }
    /*#endregion*/

/*#region nutrient popup*/
.add-nutrient-popup-wrapper[b-ks7hjf3382] {
    position: absolute;
    font-family: Montserrat;
    display: var(--display-nutrient-popup-variable);
}

.add-nutrient-popup-background-dark-overlay[b-ks7hjf3382] {
    background-color: rgba(25, 25, 25,0.6);
    position: fixed;
    height: 100vh;
    display: block;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 3;
}

.add-nutrient-popup-background[b-ks7hjf3382] {
    position: fixed;
    padding: 0px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    height: 85vh;
    top: 15vh;
    width: 100vw;
    left: 0;
    background-color: white;
    z-index: 4;
}

.add-nutrient-popup-body[b-ks7hjf3382] {
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 16px;
    padding-right: 16px;
    height: 100%;
    padding-bottom:50px;
    margin-top:64px;
}

.add-nutrient-popup-header-title[b-ks7hjf3382] {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    top: 24px;
    margin-bottom: 16px;
    align-content: flex-start;
    position: absolute;
}

.add-nutrient-popup-header-close-button[b-ks7hjf3382] {
    position: absolute;
    right: 0px;
    top: 0px;
    margin: 16px;
    width: fit-content;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 500px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    color:black;
    padding-top: 8px;
    padding-bottom: 8px;
    background: none;
    border: 1px solid #EEF0F2;
}
.add-nutrient-popup-item-grid[b-ks7hjf3382] {
    display: grid;
    grid-template-columns: 48px auto;
    grid-template-rows: auto;
    border-bottom: 1px dashed rgba(232, 232, 232, 1);
    margin-bottom:16px;
}
.add-nutrient-popup-item-circle[b-ks7hjf3382]{
    position:relative;
    grid-column:1;

}
.add-nutrient-popup-item-icon[b-ks7hjf3382] {
    position:relative;
    height:20px;
    width:20px;
    grid-column: 1;
    margin-left:0px;
    margin-top:5px;
}
.add-nutrient-popup-item-time-elapsed-group[b-ks7hjf3382]{
    grid-column:2;
    display:grid;
    grid-template-rows:auto;
    grid-template-columns:16px auto;
    margin-bottom:8px;
}
.add-nutrient-popup-item-clock-icon[b-ks7hjf3382] {
    grid-row: 1;
    grid-column:1;
    fill: black;
    width: 12px;
    align-content:center;
    margin-top:3px;
    height: 12px;
}
.add-nutrient-popup-item-time-elapsed-text[b-ks7hjf3382] {
    color: rgba(77, 77, 77, 1);
    grid-column:2;
    grid-row:1;
    font-size:12px;
    font-weight:400;
}
.add-nutrient-popup-item-name[b-ks7hjf3382] {
    grid-column: 2;
    font-weight:700;
    font-size:16px;
    margin-bottom:8px;
}
.add-nutrient-popup-item-subtext[b-ks7hjf3382] {
    grid-column:2;
    font-size: 12px;
    font-weight: 400;
    color: rgba(77, 77, 77, 1);
    margin-bottom:16px;
}
.add-nutrient-popup-calorie-text[b-ks7hjf3382]{
    font-size:16px;
    color:black;
    font-weight:400;
    margin-bottom:12px;
}
.add-nutrient-popup-calorie-number[b-ks7hjf3382] {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 16px;
}
.add-nutrient-popup-line-spacer[b-ks7hjf3382] {
    border-top: 8px solid rgba(238, 240, 242, 1);
    margin-left:-16px;
    margin-right:-16px;
}
.add-nutrient-popup-instruction[b-ks7hjf3382]{
    font-weight:500;
    font-size:16px;
    margin-top:16px;
    margin-bottom:16px;
}
.add-nutrient-popup-header-close-button-icon[b-ks7hjf3382] {
    filter: invert(0%) sepia(100%) saturate(8%) hue-rotate(125deg) brightness(107%) contrast(101%);
}

.add-nutrient-popup-button-group[b-ks7hjf3382] {
    display: grid;
    grid-template-rows: 80px;
    grid-template-columns: 50vw 50vw;
    align-content: center;
    margin-bottom: 32px;
    position: relative;
}

.add-nutrient-popup-camera-button[b-ks7hjf3382] {
    border-radius: 12px;
    grid-column: 1;
    grid-row: 1;
    height: 80px;
    width: calc(50vw - 32px);
    background-color: rgba(0, 98, 114, 1);
    color: white;
    font-size:13px;
    border: none;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    align-content: center;
}

.add-nutrient-popup-camera-icon[b-ks7hjf3382] {
    filter: invert(100%) sepia(1%) saturate(1374%) hue-rotate(251deg) brightness(120%) contrast(100%);
    grid-row: 1;
    grid-column: 1;
    margin: auto;
}

.add-nutrient-popup-camera-background-icon[b-ks7hjf3382] {
    filter: invert(100%) sepia(1%) saturate(1374%) hue-rotate(251deg) brightness(120%) contrast(100%);
    opacity: 0.5;
    bottom: 0px;
    left: 0px;
    width: 36px;
    height: 32px;
    grid-row: 2;
    grid-column: 1;
    position: absolute;
}

.add-nutrient-popup-upload-button[b-ks7hjf3382] {
    border-radius: 12px;
    grid-column: 2;
    grid-row: 1;
    height: 80px;
    width: calc(50vw - 32px);
    background-color: rgba(0, 98, 114, 1);
    color: white;
    font-size: 13px;
    border: none;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    align-content: center;
}

.add-nutrient-popup-upload-icon[b-ks7hjf3382] {
    filter: invert(100%) sepia(1%) saturate(1374%) hue-rotate(251deg) brightness(120%) contrast(100%);
    grid-row: 1;
    grid-column: 1;
    margin: auto;
}

.add-nutrient-popup-upload-background-icon[b-ks7hjf3382] {
    filter: invert(100%) sepia(1%) saturate(1374%) hue-rotate(251deg) brightness(120%) contrast(100%);
    opacity: 0.5;
    bottom: 0px;
    left: 0px;
    width: 36px;
    height: 32px;
    grid-row: 2;
    grid-column: 2;
    position: absolute;
}
.add-nutrient-popup-search-button[b-ks7hjf3382] {
    border-radius: 12px;
    background-color: white;
    grid-column: 3;
    grid-row: 1;
    color: black;
    font-size: 13px;
    height: 80px;
    width: calc(50vw - 16px);
    border: 1px solid rgba(0, 98, 114, 1);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    align-content: center;
}

.add-nutrient-popup-search-icon[b-ks7hjf3382] {
    grid-row: 1;
    grid-column: 1;
    margin: auto;
}

.add-nutrient-popup-search-background-icon[b-ks7hjf3382] {
    filter: invert(26%) sepia(40%) saturate(2186%) hue-rotate(156deg) brightness(95%) contrast(102%);
    opacity: 0.5;
    bottom: 0px;
    left: 0px;
    width: 32px;
    height: 32px;
    grid-row: 2;
    grid-column: 3;
    position: absolute;
}

.add-nutrient-popup-header-label[b-ks7hjf3382] {
    font-family: Montserrat;
    font-size: 18px;
    color: black;
    font-weight: 700;
}

.add-nutrient-popup-recipe-list[b-ks7hjf3382]{
}
.add-nutrient-popup-see-all-button[b-ks7hjf3382] {
    float:right;
    font-family: Montserrat;
    font-size: 14px;
    color: rgba(0, 98, 114, 1);
    font-weight: 700;
    border: none;
    box-shadow: none;
    background: none;
    outline: none;
}

    .add-nutrient-popup-see-all-button:focus[b-ks7hjf3382] {
        outline: none;
    }

.add-nutrient-popup-recipes-wrapper[b-ks7hjf3382] {
    padding: 6px;
    margin-bottom: 24px;
}

.add-nutrient-popup-recipe-item[b-ks7hjf3382] {
    font-family: Montserrat;
    color: black;
    height: fit-content;
    display: grid;
    grid-template-columns: 60px auto 52px;
    grid-template-rows: 72px;
    align-items: center;
    border-bottom: 1px solid #EEF0F2;
}

.add-nutrient-popup-recipe-item-icon[b-ks7hjf3382] {
    height: 32px;
    width: 32px;
    grid-column: 1;
    grid-row: 1;
    margin-left: 20px;
}

.add-nutrient-popup-recipe-item-name-text[b-ks7hjf3382] {
    font-size: 16px;
    grid-column: 2;
    grid-row: 1;
    height: inherit;
    overflow-y: auto;
    align-content: flex-start;
    vertical-align: central;
    white-space: nowrap;
}

.add-nutrient-popup-recipe-item-right-button[b-ks7hjf3382] {
    background: white;
    border: none;
    color:black;
    grid-row: 1;
    grid-column: 3;
}
/*#endregion*/


/*#region add dish popup*/
.add-dish-popup-wrapper[b-ks7hjf3382] {
    position: absolute;
    font-family: Montserrat;
    display: var(--display-add-dish-popup-variable);
}

.add-dish-popup-background-dark-overlay[b-ks7hjf3382] {
    background-color: rgba(25, 25, 25,0.6);
    position: fixed;
    height: 100vh;
    display: block;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 5;
}

.add-dish-popup-background[b-ks7hjf3382] {
    position: fixed;
    padding: 0px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    height: 70vh;
    top: 30vh;
    width: 100vw;
    left: 0;
    background-color: white;
    z-index: 6;
}

.add-dish-popup-body[b-ks7hjf3382] {
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(70vh - 92px);
}

.add-dish-popup-header-title[b-ks7hjf3382] {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    margin: 16px;
    align-content: flex-start;
}

.add-dish-popup-exercise-item[b-ks7hjf3382] {
    margin: 16px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    display: grid;
    grid-template-columns: auto 50px;
    grid-template-rows: auto;
    align-items: center;
    vertical-align: middle;
}

.add-dish-popup-add-textbox-wrapper[b-ks7hjf3382] {
    padding: 16px;
    grid-column: 1;
    grid-row: 1;
    border-radius: 8px;
    border: solid 1px #EEF0F2;
}

.add-dish-popup-add-item-icon[b-ks7hjf3382] {
    height: 32px;
    width: 32px;
}

.add-dish-popup-add-textbox[b-ks7hjf3382] {
    outline: none;
    border: none;
    font-family: Montserrat;
    font-size: 14px;
}

.add-dish-popup-exercise-item-name-label[b-ks7hjf3382] {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    grid-row: 1;
    grid-column: 1;
}

.add-dish-popup-favorite-icon[b-ks7hjf3382] {
    justify-self: end;
    align-self: center;
    margin-left: auto;
    height:24px;
    width:24px;
    grid-row: 1;
    grid-column: 2;
}

.add-dish-popup-line-spacer[b-ks7hjf3382] {
    border-top: 8px solid rgba(238, 240, 242, 1);
}

.add-dish-popup-number-of-servings-card[b-ks7hjf3382] {
    border: 1px solid rgba(238, 240, 242, 1);
    border-radius: 8px;
    height: 60px;
    padding: 16px;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 24px;
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
}

.add-dish-popup-number-align-right[b-ks7hjf3382] {
    grid-row: 1;
    grid-column: 2;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto 24px 26px 24px;
    text-align: center;
    align-content: center;
    flex-wrap: nowrap;
    vertical-align: middle;
}

.add-dish-popup-subtract-button[b-ks7hjf3382] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 24px;
    width: 24px;
    padding: 0;
    grid-row: 1;
    grid-column: 2;
    border: 1px solid rgba(25, 25, 25, 1);
    background: none;
    border-radius: 6px;
}

.add-dish-popup-subtract-button:disabled[b-ks7hjf3382] {
    border: 1px solid rgba(206, 211, 215, 1);
    color: rgba(206, 211, 215, 1); /* uhh this might be an icon*/
}

.add-dish-popup-add-button[b-ks7hjf3382] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0;
    height: 24px;
    grid-row: 1;
    grid-column: 4;
    width: 24px;
    border: 1px solid rgba(25, 25, 25, 1);
    background: none;
    border-radius: 6px;
}

.add-dish-popup-add-button:disabled[b-ks7hjf3382] {
    border: 1px solid rgba(206, 211, 215, 1);
    color: rgba(206, 211, 215, 1); 
}

.add-dish-popup-addorsubtract-button-icon[b-ks7hjf3382] {
    filter: invert(0%) sepia(0%) saturate(7470%) hue-rotate(279deg) brightness(79%) contrast(106%);
    align-self: center;
    text-align: center;
    margin-top: -4px;
    height: 12px;
    width: 12px;
}

#add-dish-popup-number-of-servings-label[b-ks7hjf3382] {
    grid-row: 1;
    grid-column: 1;
}

#add-dish-popup-number[b-ks7hjf3382] {
    grid-row: 1;
    grid-column: 3;
    text-align: center;
    width: fit-content;
    margin-left: 8px;
    margin-right: 8px;
}

.add-dish-popup-how-much-you-ate-card[b-ks7hjf3382] {
    border: 1px solid rgba(238, 240, 242, 1);
    border-radius: 8px;
    padding: 16px;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 24px;
    display: grid;
    grid-row-start: 1;
    grid-row-end: 2;
}

#add-dish-popup-how-much-you-ate-label[b-ks7hjf3382] {
    grid-row: 1;
}

.radio[b-ks7hjf3382] {
    grid-row: 2;
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

    .radio input[b-ks7hjf3382] {
        height: 36px;
        width: 52px;
        appearance: none;
        outline: none;
        border: 1px solid #EEF0F2;
        padding-top: 5px;
        font-family: Montserrat;
        border-radius: 6px;
        background: none;
        color: rgba(77, 77, 77, 1);
        margin: auto;
    }

        .radio input:checked[b-ks7hjf3382] {
            border: 1px solid rgba(0, 98, 114, 1);
            font-family: Montserrat;
            text-align: center;
            background: rgba(0, 98, 114, 1);
            color: white;
            border-radius: 6px;
        }

        .radio input:not(:checked)[b-ks7hjf3382] {
            border: 1px solid #EEF0F2;
            font-family: Montserrat;
            text-align: center;
            background: none;
            color: rgba(77, 77, 77, 1);
            border-radius: 6px;
        }

        .radio input[b-ks7hjf3382]:before {
            content: attr(label);
            display: inline-block;
            position: center;
            text-align: center;
            width: 100%;
        }

.add-dish-popup-notes[b-ks7hjf3382] {
    margin: 16px;
    width: calc(100vw - 48px);
    border-radius: 8px;
    border: 1px solid rgba(238, 240, 242, 1);
    padding: 16px;
    resize: vertical;
}

.add-dish-popup-notes:active[b-ks7hjf3382] {
    outline: none !important;
    border: 1px solid #4D4D4D;
}


.add-dish-popup-footer[b-ks7hjf3382] {
    position: absolute;
    bottom: 24px;
    width: 100vw;
    display: grid;
    grid-template-columns: auto auto;
    grid-row-start: 1;
    grid-row-end: 1;
}

.add-dish-popup-footer-discard-button[b-ks7hjf3382] {
    position: relative;
    border-radius: 500px;
    font-family: Montserrat;
    color: rgba(0, 98, 114, 1);
    font-size: 16px;
    grid-column: 1;
    grid-row: 1;
    margin: auto;
    text-align: center;
    width: 40vw;
    height: 52px;
    font-weight: 700;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    background: none;
    border: 1px solid rgba(0, 98, 114, 1);
}

.add-dish-popup-footer-add-button[b-ks7hjf3382] {
    position: relative;
    border-radius: 500px;
    font-family: Montserrat;
    color: white;
    font-size: 16px;
    grid-column: 2;
    margin: auto;
    grid-row: 1;
    text-align: center;
    width: 40vw;
    height: 52px;
    font-weight: 700;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    background: rgba(0, 98, 114, 1);
    border: 1px solid rgba(0, 98, 114, 1);
}
/*#endregion*/
.red-icon[b-ks7hjf3382] {
    filter: invert(23%) sepia(91%) saturate(7496%) hue-rotate(0deg) brightness(105%) contrast(120%);
}

/*#region mindfulness popup*/
.mindfulness-popup-wrapper[b-ks7hjf3382] {
    position: absolute;
    font-family: Montserrat;
    display: var(--display-mindfulness-popup-variable);
}

.mindfulness-popup-background-dark-overlay[b-ks7hjf3382] {
    background-color: rgba(25, 25, 25,0.6);
    position: fixed;
    height: 100vh;
    display: block;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 5;
}

.mindfulness-popup-background[b-ks7hjf3382] {
    position: fixed;
    padding: 0px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    height: calc(70vh - 70px);
    overflow-y:scroll;
    overflow-x:hidden;
    top: 30vh;
    width: 100vw;
    left: 0;
    background-color: white;
    z-index: 6;
}
.mindfulness-popup-item-grid[b-ks7hjf3382] {
    display: grid;
    padding: 16px;
    grid-template-columns: 48px auto;
    grid-template-rows: 24px;
}

.mindfulness-popup-item-circle[b-ks7hjf3382] {
    position: relative;
    grid-column: 1;
}

.mindfulness-popup-item-icon[b-ks7hjf3382] {
    position: relative;
    grid-column: 1;
    margin-left: 0px;
    margin-top: 5px;
}

.mindfulness-popup-item-time-elapsed-group[b-ks7hjf3382] {
    grid-column: 2;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 16px auto;
}
.mindfulness-popup-item-clock-icon[b-ks7hjf3382] {
    grid-row: 1;
    grid-column: 1;
    fill: black;
    width: 12px;
    align-content: center;
    margin-top: 3px;
    height: 12px;
}

.mindfulness-popup-item-time-elapsed-text[b-ks7hjf3382] {
    color: rgba(77, 77, 77, 1);
    grid-column: 2;
    grid-row: 1;
    font-size: 12px;
    font-weight: 400;
}

.mindfulness-popup-item-name[b-ks7hjf3382] {
    grid-column: 2;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 8px;
}

.mindfulness-popup-item-subtext[b-ks7hjf3382] {
    grid-column: 2;
    font-size: 12px;
    font-weight: 400;
    color: black;
}
.mindfulness-popup-line-spacer[b-ks7hjf3382] {
    border-top: 1px solid #E8E8E8;
}
.mindfulness-popup-content[b-ks7hjf3382] {
    padding: 16px;
}
.mindfulness-popup-video[b-ks7hjf3382]{
    border-radius:12px;
    width:80vw;
    height:40vh;
    margin:16px;
    margin-left:calc(10vw - 16px);
}
.mindfulness-popup-description[b-ks7hjf3382] {
    font-size: 12px;
    font-weight: 400;
    color: #1A1A1A;
}
.mindfulness-popup-footer[b-ks7hjf3382] {
    position: fixed;
    bottom: 0;
    fill:white;
    background:white;
    width: 100%;
    height: 70px;
    box-shadow: 0px 0px 6px 6px rgba(0, 0, 0, 0.15);
}
.mindfulness-popup-footer-menu-button[b-ks7hjf3382] {
    position: absolute;
    left: 16px;
    margin-top: 16px;
}
.mindfulness-popup-footer-back-to-feed-button[b-ks7hjf3382] {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    background: #006272;
    border-radius: 40px;
    width: fit-content;
    padding-left: 14px;
    padding-right: 14px;
    height: 36px;
    border-color: #006272;
    border: thick;
    position:fixed;
    right:16px;
    margin-top:16px;
}
/*#endregion*/

/*#region add new popup */
.add-new-popup-wrapper[b-ks7hjf3382] {
    position: absolute;
    font-family: Montserrat;
    display: var(--display-add-new-popup-variable);
}

.add-new-popup-background-dark-overlay[b-ks7hjf3382] {
    background-color: rgba(25, 25, 25,0.6);
    position: fixed;
    height: 100vh;
    display: block;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 3;
}

.add-new-popup-background[b-ks7hjf3382] {
    position: fixed;
    padding: 0px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    height: 80vh;
    top: 20vh;
    width: 100vw;
    left: 0;
    background-color: white;
    z-index: 4;
}

.add-new-popup-body[b-ks7hjf3382] {
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 16px;
    padding-right: 16px;
    height: 100%;
    padding-bottom: 50px;
    margin-top: 64px;
}
.add-new-popup-header-group[b-ks7hjf3382]{
    height:40px;
}
.add-new-popup-header-close-button[b-ks7hjf3382] {
    position: absolute;
    right: 0px;
    top: 0px;
    margin: 16px;
    width: fit-content;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 500px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    color: black;
    padding-top: 8px;
    padding-bottom: 8px;
    background: none;
    border: 1px solid #EEF0F2;
}

.add-new-popup-header-close-button-icon[b-ks7hjf3382] {
    filter: invert(0%) sepia(100%) saturate(8%) hue-rotate(125deg) brightness(107%) contrast(101%);
}

.add-new-popup-label[b-ks7hjf3382]{
    font-family:Montserrat;
    color:black;
    font-weight:700;
    font-size:20px;
    margin:16px;
    margin-top:8px;
    margin-bottom:8px;
}
.add-new-content-grid[b-ks7hjf3382]{
    display:grid;
    grid-template-columns:1fr 1fr;
    margin:16px;
    grid-column-gap:16px;
    grid-row-gap:16px;
}
.add-new-content-object-container[b-ks7hjf3382] {
    padding: 12px;
    border-radius: 12px;
    border: 1px solid #EEF0F2;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns:1fr;
    grid-row-gap: 8px;
}
.add-new-content-object-label[b-ks7hjf3382] {
    grid-row: 1;
    font-family: Montserrat;
    color: black;
    font-weight: 700;
    font-size: 14px;
}
.add-new-content-object-subtext[b-ks7hjf3382] {
    grid-row: 2;
    font-family: Montserrat;
    color: #4D4D4D;
    font-weight: 400;
    font-size: 12px;
}
.add-new-content-nutrients-image-container[b-ks7hjf3382] {
    grid-row: 1/2;
    right:0;
    align-self: start;
    padding: 0;
    margin: -28px;
}
.add-new-content-nutrients-image[b-ks7hjf3382] {
    height: 55px;
    width: 53px;
}
/*#endregion*/


/*#region favorite notification popup*/
.recipe-favorite-popup-wrapper[b-ks7hjf3382] {
    position: absolute;
    font-family: Montserrat;
    display: var(--display-favorite-popup-variable);
}

.recipe-favorite-popup-background-dark-overlay[b-ks7hjf3382] {
    background-color: rgba(25, 25, 25,0.6);
    position: fixed;
    height: 100vh;
    display: block;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 7;
}

.recipe-favorite-popup-body[b-ks7hjf3382] {
    position: fixed;
    padding: 16px;
    margin: auto;
    border-radius: 12px;
    height: fit-content;
    width: 90vw;
    top: 50%;
    left: 5vw;
    transform: translate(0, -50%);
    background-color: white;
    z-index: 8;
}

.recipe-favorite-popup-header-group[b-ks7hjf3382] {
    height: 40px;
}
.recipe-favorite-popup-content-label[b-ks7hjf3382]{
    font-size:14px;
    font-weight:700;

}
.recipe-favorite-popup-show-again-toggle[b-ks7hjf3382]{
    font-size:14px;
    margin:8px;
}
.recipe-favorite-popup-okay-button-container[b-ks7hjf3382]{
    text-align:center;
    
}
.recipe-favorite-popup-okay-button[b-ks7hjf3382] {
    font-family: Montserrat;
    border: 1px solid #006272;
    border-radius: 120px;
    color: #006272;
    background: none;
    outline: none;
}
/*#endregion*/

