.page[b-2x7irl77jk] {
    position: fixed;
    display: flex;
    width:100%;
    flex-direction: column;
    background-color: rgba(0,98,114,255);
    overflow:hidden;
}
html[b-2x7irl77jk], body[b-2x7irl77jk] {
    font-family: Montserrat;
    overflow: hidden;
}
main[b-2x7irl77jk] {
    flex: 1;
    height:100%;
}

.sidebar[b-2x7irl77jk] {
    background-color: rgba(0,98,114,255);
}

