<div class="navbar navbar-light">
    <div align="left">
        <button aria-hidden="true" title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu" hidden="hidden">
            <span class="navbar-toggler-icon"></span>
        </button>
        <img class="white-icon AIR-logo" src="resources/private/icons/logo/24full.svg" />
    </div>
    <div align="right">

        @if (AddButtonHidden == false)
        {
        <button title="Add" class="navbar-toggler" @onclick= "()=> OpenAddNewPopup()">
            <img class="white-icon" src="resources/public/icons/userInterface/addnew.svg" />
         </button>
        }
            <button title="Messaging" class="navbar-toggler" @onclick=GoToChatPage>
                <img class="white-icon" src="resources/public/icons/communication/mail1.svg" />
            </button>

        <button title="User" class="navbar-toggler" @onclick="async ()=> await GoToProfilePage()">
            <img class="white-icon" src="resources/public/icons/users/profile.svg"/>
        </button>
    </div>
</div>

@*<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="sandbox">
                <span class="oi oi-plus" aria-hidden="true"></span> Sandbox
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>
    </nav>
</div>*@