@font-face {
    font-family: 'Montserrat';
    src: url('../css/open-iconic/font/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
}
/* dynamic variable instantiation */
:root {
    --display-popup-variable: none;
}

html, body {
    font-family: Montserrat;
    overflow: hidden;
    max-height:100vh;
    max-width:100vw;
}
/* navigation bar stuff*/
.navigation-bar-background {
    background: #006272;
    height: 10vh;
    padding: 16px;
}
.navigation-bar-button{
    background:none;
    border:none;
    outline:none;
}
.navigation-bar-button-icon {
    margin-top:-1px;
    width: 18px;
    height: 8px;
    vertical-align: middle;
}
.navigation-bar-text {
    display:inline;
    vertical-align:middle;
    margin:auto;
    top:50%;
    color: white;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 16px;
}
/*search bar stuff*/
.search-bar-background-wrapper {
    width: 100%;
    height: 10vh;
}
.search-bar-background-upper {
    position: relative;
    background: #006272;
    height:50%;
}
.search-bar-background-lower {
    position: relative;
    background: #FFFFFF;
    height: 50%;
}
.search-bar-with-icon{
    position: absolute;
    left:5vw;
    width:90vw;
    background-color:#FFFFFF;
    height:48px;
    margin-top:-24px;
    vertical-align:middle;
    border:none;
    border-radius: 1000px;
    box-shadow: rgba(0,0,0,.15) 0px 0px 12px;
    z-index:1;
}
.search-bar-icon {
    height:20px;
    width:20px;
    margin-left:14px;
    vertical-align:middle;
    align-content:center;
    filter: invert(91%) sepia(11%) saturate(98%) hue-rotate(165deg) brightness(93%) contrast(87%);
}
.search-bar{
    height:48px;
    vertical-align:middle;
    font-family:Montserrat;
    width: calc(100% - 64px);
    border:none;
}
    .search-bar::placeholder {
        color: #CED3D7;
    }
    .search-bar:focus{
        border:none;
        outline:none;
    }

/* filter stuff*/
.filter-group{
    display:grid;
    grid-auto-columns:min-content auto;
    grid-auto-rows:50px;
}
.filter-label{
    grid-row:1;
    grid-column:1;
    width:fit-content;
    font-family:Montserrat;
    font-weight:700;
    font-size:16px;
    padding-top:16px;
    padding-left:16px;
    padding-right:16px;
}
.filter {
    grid-row:1;
    grid-column:2;
    vertical-align:central;
    height: 50px;
    overflow-x: scroll;
    overflow-y:hidden;
    white-space: nowrap;
}
.filter-button {
    font-family: Montserrat;
    font-size:14px;
    color: #4D4D4D;
    background: white;
    margin-top: 10px;
    border-radius: 1000px;
    height: 36px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #EEF0F2;
    margin-left: 16px;
    width: fit-content;
    text-align: center;
    padding-top:-3px;
}
.filter-button-icon {
    filter: invert(0%) sepia(10%) saturate(31%) hue-rotate(318deg) brightness(103%) contrast(80%);
    height: 15px;
    width: 15px;
    margin-top:-3px;
    margin-right:8px;
}
/*contents*/
.content-wrapper {
    height:calc( 80vh - 100px );
    overflow-y: scroll;
    padding:16px;
}
.header-label{
    font-family:Montserrat;
    font-size:18px;
    color:black;
    font-weight:700;
}
.meditation-wrapper{
    padding:6px;
    margin-bottom:24px;
}
.meditation-item {
    font-family: Montserrat;
    color: black;
    height: fit-content;
    display: grid;
    grid-template-columns: 60px auto auto 52px;
    grid-template-rows: 36px 36px;
    border-bottom: 1px solid #EEF0F2;
}
.meditation-item-image {
    filter: invert(64%) sepia(7%) saturate(576%) hue-rotate(161deg) brightness(88%) contrast(90%);
    height: 44px;
    border-radius:22px;
    width: 44px;
    grid-column: 1;
    grid-row: 1/2;
    margin-top: 12px;
    margin-left: 0px;
}
.meditation-subtext-wrapper {
    grid-row: 2;
    grid-column: 2/3;
    overflow-x:auto;
    word-wrap:unset;
}
.meditation-item-name-text {
    margin-top: 12px;
    font-size: 16px;
    grid-column: 2/3;
    grid-row: 1;
    height: inherit;
    overflow-y: auto;
    align-content: flex-start;
    white-space: nowrap;
}
.meditation-item-length-text {
    font-size: 10px;
    display: inline;
}
.meditation-item-type-text {
    font-size: 10px;
    display: inline;
}
.meditation-item-right-button {
    background: white;
    border: none;
    grid-row: 1/2;
    grid-column: 4;
    margin-top: 20px;
}


@media only screen and (max-width: 400px) {

}