@font-face {
    font-family: 'Montserrat';
    src: url('../css/open-iconic/font/fonts/montserrat-variablefont_wght.ttf') format('truetype');
}
/* dynamic variable instantiation */
:root {
    --display-nutrient-popup-variable: none;
    --display-add-dish-popup-variable: none;
    --display-loader-popup-variable: none;
    --display-favorite-popup-variable: none;
}

html, body {
    font-family: Montserrat;
    overflow: hidden;
    max-height:100vh;
    max-width:100vw;
}
/*#region navigation bar stuff*/
.navigation-bar-background {
    background: #006272;
    height: 60px;
    padding: 16px;
}
.navigation-bar-button{
    background:none;
    border:none;
    outline:none;
}
.navigation-bar-button-icon {
    margin-top:-1px;
    width: 18px;
    height: 8px;
    vertical-align: middle;
}
.navigation-bar-text {
    display:inline;
    vertical-align:middle;
    margin:auto;
    top:50%;
    color: white;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 16px;
}
/*#endregion*/

/*#region contents*/
.primary-color-icon {
    filter: invert(13%) sepia(79%) saturate(4661%) hue-rotate(177deg) brightness(101%) contrast(103%);
}
.gray-icon {
    filter: invert(70%) sepia(20%) saturate(221%) hue-rotate(162deg) brightness(79%) contrast(81%);
}
.content-wrapper-smaller {
    height: calc( 100vh - 220px );
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 16px;
}
.content-wrapper {
    height:calc( 100vh - 140px );
    overflow-y: scroll;
    overflow-x:hidden;
    padding:16px;
}
.header-label{
    font-family:Montserrat;
    font-size:18px;
    color:black;
    font-weight:700;
}
.recipes-wrapper{
    padding:6px;
    margin-bottom:24px;
}
.recipe-item {
    font-family: Montserrat;
    color: black;
    height: fit-content;
    display: grid;
    grid-template-columns: 52px auto;
    padding: 16px;
    grid-template-rows: auto;
    align-items: center;
    border-radius: 8px;
    overflow-x: hidden;
    border: 1px solid #EEF0F2;
}
.total-recipe-item {
    font-family: Montserrat;
    color: black;
    height: fit-content;
    display: grid;
    padding: 16px;
    margin:8px;
    grid-template-rows: auto;
    align-items: center;
    border-radius: 8px;
    overflow-x: hidden;
    border: 1px solid #EEF0F2;
}
.recipe-item-big {
    font-family: Montserrat;
    color: black;
    height: fit-content;
    display: grid;
    grid-template-columns: 88px auto;
    padding: 16px;
    grid-template-rows: auto;
    align-items: center;
    border-radius: 8px;
    overflow-x: hidden;
    border: 1px solid #EEF0F2;
}
.recipe-item-icon {
    height:24px;
    width:24px;
    align-self:start;
    grid-column: 1;
    grid-row:1;
}
.recipe-item-icon-big {
    height: 76px;
    width: 76px;
    border-radius:10px;
    align-self: start;
    grid-column: 1;
    grid-row: 1;
}
.recipe-item-contents {
    grid-template-columns:auto 36px;
    grid-template-rows:auto;
    display:grid;
}
.recipe-item-name-text {
    font-size: 14px;
    font-weight: 700;
    grid-row: 1;
    grid-column: 1;
    height: inherit;
    overflow-y: auto;
    align-content: flex-start;
    vertical-align: central;
    white-space: nowrap;
}
.recipe-item-menu-button {
    background: white;
    border: none;
    margin-right:-6px;
    margin-top: -6px;
    grid-row: 1;
    grid-column: 2;
}
.recipe-item-trash-icon{
    height:16px;
    width:16px;
}
.recipe-item-nutrients-grid {
    grid-column: 1/3;
    border-bottom: 1px solid #EEF0F2;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    padding-bottom: 16px;
    align-content: start;
    overflow-y: auto;
}
.total-nutrients-grid {
    grid-column: 1/3;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    padding-bottom: 16px;
    align-content: start;
    overflow-y: auto;
}
.recipe-item-nutrients-grid-column-head {
    color: rgba(77, 77, 77, 1);
    font-weight:400;
    font-size:12px;
}
.recipe-item-nutrients-grid-value {
    font-weight: 500;
    font-size: 12px;
    color: rgba(26, 26, 26, 1);
}
.recipe-item-servings-grid {
    padding-top: 16px;
    grid-column: 1/3;
    display: grid;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    grid-template-columns: auto;
    grid-template-rows: auto;
    overflow-y: auto;
}
.recipe-item-servings-grid-column-head {
    font-weight: 500;
    font-size: 12px;
    color:black;
}
.recipe-item-servings-grid-value {
    font-weight: 400;
    font-size: 12px;
    color: black;
}

/*#endregion*/

/*#region collapsibles*/
.collapsible-border {
    height: fit-content;
    border: 1px solid #EFEFEF;
    transition: max-height 0.4s ease-in-out;
    margin:6px;
    margin-bottom:16px;
    padding:16px;
    border-radius:8px;
}
.collapsible-header-wrapper {
    display: grid;
    grid-auto-columns: 24px auto 40px;
    place-items: center;
    grid-auto-rows: auto;
    grid-column-gap: 12px;
}
.collapsible-meal-image{
    grid-column:1;
    grid-row:1;
    height:24px;
    width:24px;
}
.collapsible-header-label {
    color: #1A1A1A;
    grid-column: 2;
    grid-row: 1;
    font-size: 14px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    justify-self:start;
}
.collapsible-dropdown-button {
    grid-column: 3;
    grid-row: 1;
    border-radius: 200px;
    border: 1px solid #E8E8E8;
    height: 40px;
    width: 40px;
    padding: 4px;
    content: url("resources/public/icons/arrows/downarrow1.svg");
}

.collapsible {
    height: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out;
}


.collapsible-nutrients-grid {
    grid-column: 1/3;
    display: grid;
    margin-left: 36px;
    margin-top: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-top: 1px solid #E8E8E8;
    border-bottom: 1px solid #EEF0F2;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    padding-bottom: 16px;
    align-content: start;
    overflow-y: auto;
}

.collapsible-item-nutrients-grid-column-head {
    color: rgba(77, 77, 77, 1);
    font-family: Montserrat;
    font-weight: 400;
    font-size: 12px;
}

.collapsible-item-nutrients-grid-value {
    font-weight: 500;
    font-family: Montserrat;
    font-size: 12px;
    color: rgba(26, 26, 26, 1);
}
.collapsible-item-servings-grid {
    padding-top: 16px;
    grid-column: 1/3;
    margin-left: 36px;
    margin-top: 12px;
    margin-bottom:32px;
    display: grid;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    grid-template-columns: auto;
    grid-template-rows: auto;
    overflow-y: auto;
}

.collapsible-item-servings-grid-column-head {
    font-weight: 500;
    font-family: Montserrat;
    font-size: 12px;
    color: black;
}

.collapsible-item-servings-grid-value {
    font-weight: 400;
    font-family: Montserrat;
    font-size: 12px;
    color: black;
}

.collapsible-nutrient-information-wrapper{
    margin-top:24px;
    margin-bottom:24px;
}
.collapsible-nutrient-information-header {
    font-size: 12px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    color:black;
}
.collapsible-nutrient-information-label {
    font-size: 12px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    color: black;
}
.collapsible-nutrient-information-value {
    font-size: 12px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    color: black;
}
.collapsible-nutrient-information-ball-divider{
    margin-left:8px;
    margin-right:8px;
}
.collapsible-dashed-line {
    border: 1px dashed #EEF0F2;
    border-width: 1px;
    border-image-width: 20px;
}
.collapsible-nutrient-information-last-wrapper {
    margin-top: 24px;
    margin-bottom: 8px;
}
/*#endregion*/
/*#region footer*/
.footer {
    position: absolute;
    bottom: 0px;
    width: 100vw;
    height:80px;
    display: grid;
    background:white;
    padding-top: 24px;
    padding-bottom: 24px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
    grid-template-columns: auto auto;
    grid-row-start: 1;
    grid-row-end: 1;
    justify-content: space-evenly;
    align-content: center;
}
.footer-expanded {
    position: absolute;
    bottom: 0px;
    width: 100vw;
    height: 160px;
    display: grid;
    background: white;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
    grid-template-columns: 50vw 50vw;
    grid-auto-rows: 80px 80px;
    grid-column-gap:0;
    place-items:center;
}

.add-more-button {
    position: relative;
    grid-column: 1 / span 2;
    width: calc(100vw - 32px);
    place-self: center;
    justify-self: center;
    align-self: center;
    height: 52px;
    border-radius: 1000px;
    outline: none;
    border: none;
    background-color: #D6F9FF;
    color: rgba(0, 98, 114, 1);
    font-weight: 700;
    font-size: 14px;
    font-family: Montserrat;
}
.footer-discard-button {
    position: relative;
    border-radius: 500px;
    font-family: Montserrat;
    color: rgba(0, 98, 114, 1);
    font-size: 16px;
    grid-column: 1;
    text-align: center;
    justify-self:center;
    align-self:center;
    place-self:center;
    width: calc(50vw - 32px);
    height: 52px;
    font-weight: 700;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    background: white;
    border: 1px solid rgba(0, 98, 114, 1);
}

.footer-add-button {
    position: relative;
    border-radius: 500px;
    font-family: Montserrat;
    color: white;
    font-size: 16px;
    grid-column: 2;
    text-align: center;
    justify-self: center;
    align-self: center;
    place-self: center;
    width: calc(50vw - 32px);
    height: 52px;
    font-weight: 700;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    background: rgba(0, 98, 114, 1);
    border: 1px solid rgba(0, 98, 114, 1);
}

.footer-go-back-home-button {
    position: relative;
    border-radius: 500px;
    font-family: Montserrat;
    color: white;
    font-size: 16px;
    grid-column: 1/ span 2;
    grid-row: 1;
    justify-self:center;
    align-self:center;
    place-self:center;
    width: calc(100vw - 32px);
    height: 52px;
    font-weight: 700;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
    padding-top: 8px;
    padding-bottom: 8px;
    background: rgba(0, 98, 114, 1);
    border: 1px solid rgba(0, 98, 114, 1);
}

/*#endregion*/

/*#region nutrient popup*/
.add-nutrient-popup-wrapper {
    position: absolute;
    font-family: Montserrat;
    display: var(--display-nutrient-popup-variable);
}

.add-nutrient-popup-background-dark-overlay {
    background-color: rgba(25, 25, 25,0.6);
    position: fixed;
    height: 100vh;
    display: block;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 3;
}

.add-nutrient-popup-background {
    position: fixed;
    padding: 0px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    height: 85vh;
    top: 15vh;
    width: 100vw;
    left: 0;
    background-color: white;
    z-index: 4;
}

.add-nutrient-popup-body {
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 16px;
    padding-right: 16px;
    height: 100%;
    padding-bottom:50px;
    margin-top: 64px;
}

.add-nutrient-popup-header-title {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    top: 24px;
    margin-bottom: 16px;
    align-content: flex-start;
    position: absolute;
}

.add-nutrient-popup-header-close-button {
    position: absolute;
    right: 0px;
    top: 0px;
    margin: 16px;
    width: fit-content;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 500px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    color: black;
    padding-top: 8px;
    padding-bottom: 8px;
    background: none;
    border: 1px solid #EEF0F2;
}

.add-nutrient-popup-item-grid {
    display: grid;
    grid-template-columns: 48px auto;
    grid-template-rows: auto;
    border-bottom: 1px dashed rgba(232, 232, 232, 1);
    margin-bottom: 16px;
}

.add-nutrient-popup-item-circle {
    position: relative;
    grid-column: 1;
}

.add-nutrient-popup-item-icon {
    position: relative;
    grid-column: 1;
    margin-left: 4px;
    margin-top: 5px;
}

.add-nutrient-popup-item-time-elapsed-group {
    grid-column: 2;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 16px auto;
    margin-bottom: 8px;
}

.add-nutrient-popup-item-clock-icon {
    grid-row: 1;
    grid-column: 1;
    fill: black;
    width: 12px;
    align-content: center;
    margin-top: 3px;
    height: 12px;
}

.add-nutrient-popup-item-time-elapsed-text {
    color: rgba(77, 77, 77, 1);
    grid-column: 2;
    grid-row: 1;
    font-size: 12px;
    font-weight: 400;
}

.add-nutrient-popup-item-name {
    grid-column: 2;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 8px;
}

.add-nutrient-popup-item-subtext {
    grid-column: 2;
    font-size: 12px;
    font-weight: 400;
    color: rgba(77, 77, 77, 1);
    margin-bottom: 16px;
}

.add-nutrient-popup-calorie-text {
    font-size: 16px;
    color: black;
    font-weight: 400;
    margin-bottom: 12px;
}

.add-nutrient-popup-calorie-number {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 16px;
}

.add-nutrient-popup-line-spacer {
    border-top: 8px solid rgba(238, 240, 242, 1);
    margin-left: -16px;
    margin-right: -16px;
}

.add-nutrient-popup-instruction {
    font-weight: 500;
    font-size: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.add-nutrient-popup-header-close-button-icon {
    filter: invert(0%) sepia(100%) saturate(8%) hue-rotate(125deg) brightness(107%) contrast(101%);
}

.add-nutrient-popup-button-group {
    display: grid;
    grid-template-rows: 80px;
    grid-template-columns: 50vw 50vw;
    align-content: center;
    margin-bottom: 32px;
    position: relative;
}

.add-nutrient-popup-camera-button {
    border-radius: 12px;
    grid-column: 1;
    grid-row: 1;
    height: 80px;
    width: calc(50vw - 32px);
    background-color: rgba(0, 98, 114, 1);
    color: white;
    font-size: 13px;
    border: none;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    align-content: center;
}

.add-nutrient-popup-camera-icon {
    filter: invert(100%) sepia(1%) saturate(1374%) hue-rotate(251deg) brightness(120%) contrast(100%);
    grid-row: 1;
    grid-column: 1;
    margin: auto;
}

.add-nutrient-popup-camera-background-icon {
    filter: invert(100%) sepia(1%) saturate(1374%) hue-rotate(251deg) brightness(120%) contrast(100%);
    opacity: 0.5;
    bottom: 0px;
    left: 0px;
    width: 36px;
    height: 32px;
    grid-row: 2;
    grid-column: 1;
    position: absolute;
}

.add-nutrient-popup-upload-button {
    border-radius: 12px;
    grid-column: 2;
    grid-row: 1;
    height: 80px;
    width: calc(50vw - 32px);
    background-color: rgba(0, 98, 114, 1);
    color: white;
    font-size: 13px;
    border: none;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    align-content: center;
}

.add-nutrient-popup-upload-icon {
    filter: invert(100%) sepia(1%) saturate(1374%) hue-rotate(251deg) brightness(120%) contrast(100%);
    grid-row: 1;
    grid-column: 1;
    margin: auto;
}

.add-nutrient-popup-upload-background-icon {
    filter: invert(100%) sepia(1%) saturate(1374%) hue-rotate(251deg) brightness(120%) contrast(100%);
    opacity: 0.5;
    bottom: 0px;
    left: 0px;
    width: 36px;
    height: 32px;
    grid-row: 2;
    grid-column: 2;
    position: absolute;
}

.add-nutrient-popup-search-button {
    border-radius: 12px;
    background-color: white;
    grid-column: 3;
    grid-row: 1;
    color: black;
    font-size: 13px;
    height: 80px;
    width: calc(33vw - 32px);
    border: 1px solid rgba(0, 98, 114, 1);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    align-content: center;
}

.add-nutrient-popup-search-icon {
    grid-row: 1;
    grid-column: 1;
    margin: auto;
}

.add-nutrient-popup-search-background-icon {
    filter: invert(26%) sepia(40%) saturate(2186%) hue-rotate(156deg) brightness(95%) contrast(102%);
    opacity: 0.5;
    bottom: 0px;
    left: 0px;
    width: 32px;
    height: 32px;
    grid-row: 2;
    grid-column: 3;
    position: absolute;
}

.add-nutrient-popup-header-label {
    font-family: Montserrat;
    font-size: 18px;
    color: black;
    font-weight: 700;
}

.add-nutrient-popup-recipe-list {
}

.add-nutrient-popup-see-all-button {
    float: right;
    font-family: Montserrat;
    font-size: 14px;
    color: rgba(0, 98, 114, 1);
    font-weight: 700;
    border: none;
    box-shadow: none;
    background: none;
    outline: none;
}

    .add-nutrient-popup-see-all-button:focus {
        outline: none;
    }

.add-nutrient-popup-recipes-wrapper {
    padding: 6px;
    margin-bottom: 24px;
}

.add-nutrient-popup-recipe-item {
    font-family: Montserrat;
    color: black;
    height: fit-content;
    display: grid;
    grid-template-columns: 60px auto 52px;
    grid-template-rows: 72px;
    align-items: center;
    border-bottom: 1px solid #EEF0F2;
}

.add-nutrient-popup-recipe-item-icon {
    height: 32px;
    width: 32px;
    grid-column: 1;
    grid-row: 1;
    margin-left: 20px;
}

.add-nutrient-popup-recipe-item-name-text {
    font-size: 16px;
    grid-column: 2;
    grid-row: 1;
    height: inherit;
    overflow-y: auto;
    align-content: flex-start;
    vertical-align: central;
    white-space: nowrap;
}

.add-nutrient-popup-recipe-item-right-button {
    background: white;
    border: none;
    color: black;
    grid-row: 1;
    grid-column: 3;
}

/*#endregion*/

/*#region add dish popup*/
.add-dish-popup-wrapper {
    position: absolute;
    font-family: Montserrat;
    display: var(--display-add-dish-popup-variable);
}

.add-dish-popup-background-dark-overlay {
    background-color: rgba(25, 25, 25,0.6);
    position: fixed;
    height: 100vh;
    display: block;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 5;
}

.add-dish-popup-background {
    position: fixed;
    padding: 0px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    height: 70vh;
    top: 30vh;
    width: 100vw;
    left: 0;
    background-color: white;
    z-index: 6;
}

.add-dish-popup-body {
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(70vh - 92px);
}

.add-dish-popup-header-title {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    margin: 16px;
    align-content: flex-start;
}

.add-dish-popup-exercise-item {
    margin: 16px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    display: grid;
    grid-template-columns: auto 50px;
    grid-template-rows: auto;
    align-items: center;
    vertical-align: middle;
}

.add-dish-popup-add-textbox-wrapper {
    padding: 16px;
    grid-column: 1;
    grid-row: 1;
    border-radius: 8px;
    border: solid 1px #EEF0F2;
}

.add-dish-popup-add-item-icon {
    height: 32px;
    width: 32px;
}

.add-dish-popup-add-textbox {
    outline: none;
    border: none;
    font-family: Montserrat;
    font-size: 14px;
}

.add-dish-popup-exercise-item-name-label {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    grid-row: 1;
    grid-column: 1;
}

.add-dish-popup-favorite-icon {
    justify-self: end;
    align-self: center;
    margin-left: auto;
    height: 24px;
    width: 24px;
    grid-row: 1;
    grid-column: 2;
}

.add-dish-popup-line-spacer {
    border-top: 8px solid rgba(238, 240, 242, 1);
}

.add-dish-popup-number-of-servings-card {
    border: 1px solid rgba(238, 240, 242, 1);
    border-radius: 8px;
    height: 60px;
    padding: 16px;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 24px;
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
}

.add-dish-popup-number-align-right {
    grid-row: 1;
    grid-column: 2;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto 24px 26px 24px;
    text-align: center;
    align-content: center;
    flex-wrap: nowrap;
    vertical-align: middle;
}

.add-dish-popup-subtract-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 24px;
    width: 24px;
    padding: 0;
    grid-row: 1;
    grid-column: 2;
    border: 1px solid rgba(25, 25, 25, 1);
    background: none;
    border-radius: 6px;
}

    .add-dish-popup-subtract-button:disabled {
        border: 1px solid rgba(206, 211, 215, 1);
        color: rgba(206, 211, 215, 1); /* uhh this might be an icon*/
    }

.add-dish-popup-add-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0;
    height: 24px;
    grid-row: 1;
    grid-column: 4;
    width: 24px;
    border: 1px solid rgba(25, 25, 25, 1);
    background: none;
    border-radius: 6px;
}

    .add-dish-popup-add-button:disabled {
        border: 1px solid rgba(206, 211, 215, 1);
        color: rgba(206, 211, 215, 1); /* uhh this might be an icon*/
    }

.add-dish-popup-addorsubtract-button-icon {
    filter: invert(0%) sepia(0%) saturate(7470%) hue-rotate(279deg) brightness(79%) contrast(106%);
    align-self: center;
    text-align: center;
    margin-top: -4px;
    height: 12px;
    width: 12px;
}

#add-dish-popup-number-of-servings-label {
    grid-row: 1;
    grid-column: 1;
}

#add-dish-popup-number {
    grid-row: 1;
    grid-column: 3;
    text-align: center;
    width: fit-content;
    margin-left: 8px;
    margin-right: 8px;
}

.add-dish-popup-how-much-you-ate-card {
    border: 1px solid rgba(238, 240, 242, 1);
    border-radius: 8px;
    padding: 16px;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 24px;
    display: grid;
    grid-row-start: 1;
    grid-row-end: 2;
}

#add-dish-popup-how-much-you-ate-label {
    grid-row: 1;
}

.radio {
    grid-row: 2;
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

    .radio input {
        height: 36px;
        width: 52px;
        appearance: none;
        outline: none;
        border: 1px solid #EEF0F2;
        padding-top: 5px;
        font-family: Montserrat;
        border-radius: 6px;
        background: none;
        color: rgba(77, 77, 77, 1);
        margin: auto;
    }

        .radio input:checked {
            border: 1px solid rgba(0, 98, 114, 1);
            font-family: Montserrat;
            text-align: center;
            background: rgba(0, 98, 114, 1);
            color: white;
            border-radius: 6px;
        }

        .radio input:not(:checked) {
            border: 1px solid #EEF0F2;
            font-family: Montserrat;
            text-align: center;
            background: none;
            color: rgba(77, 77, 77, 1);
            border-radius: 6px;
        }

        .radio input:before {
            content: attr(label);
            display: inline-block;
            position: center;
            text-align: center;
            width: 100%;
        }

.add-dish-popup-notes {
    margin: 16px;
    width: calc(100vw - 48px);
    border-radius: 8px;
    border: 1px solid rgba(238, 240, 242, 1);
    padding: 16px;
    resize: vertical;
}

    .add-dish-popup-notes:active {
        outline: none !important;
        border: 1px solid #4D4D4D;
    }


.add-dish-popup-footer {
    position: absolute;
    bottom: 24px;
    width: 100vw;
    display: grid;
    grid-template-columns: auto auto;
    grid-row-start: 1;
    grid-row-end: 1;
}

.add-dish-popup-footer-discard-button {
    position: relative;
    border-radius: 500px;
    font-family: Montserrat;
    color: rgba(0, 98, 114, 1);
    font-size: 16px;
    grid-column: 1;
    grid-row: 1;
    margin: auto;
    text-align: center;
    width: 40vw;
    height: 52px;
    font-weight: 700;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    background: none;
    border: 1px solid rgba(0, 98, 114, 1);
}

.add-dish-popup-footer-add-button {
    position: relative;
    border-radius: 500px;
    font-family: Montserrat;
    color: white;
    font-size: 16px;
    grid-column: 2;
    margin: auto;
    grid-row: 1;
    text-align: center;
    width: 40vw;
    height: 52px;
    font-weight: 700;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    background: rgba(0, 98, 114, 1);
    border: 1px solid rgba(0, 98, 114, 1);
}

.red-icon {
    filter: invert(23%) sepia(91%) saturate(7496%) hue-rotate(0deg) brightness(105%) contrast(120%);
}
/*#endregion*/

/*#region loader*/
.loader-popup-wrapper {
    position: absolute;
    font-family: Montserrat;
    display: var(--display-loader-popup-variable);
    z-index: 6;
}

.loader-popup-background-dark-overlay {
    background-color: rgba(25, 25, 25,0.6);
    position: fixed;
    height: 100vh;
    display: block;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 7;
}

.loader {
    position: fixed;
    border: 8px solid #a3a3a3;
    border-top: 8px solid rgba(0, 98, 114, 1); 
    border-radius: 50%;
    top: 50%;
    left: 50%;
    margin-top:-32px;
    margin-left:-32px;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
/*#endregion*/

/*#region favorite notification popup*/
.recipe-favorite-popup-wrapper {
    position: absolute;
    font-family: Montserrat;
    display: var(--display-favorite-popup-variable);
}

.recipe-favorite-popup-background-dark-overlay {
    background-color: rgba(25, 25, 25,0.6);
    position: fixed;
    height: 100vh;
    display: block;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 7;
}

.recipe-favorite-popup-body {
    position: fixed;
    padding: 16px;
    margin: auto;
    border-radius: 12px;
    height: fit-content;
    width: 90vw;
    top: 50%;
    left: 5vw;
    transform: translate(0, -50%);
    background-color: white;
    z-index: 8;
}

.recipe-favorite-popup-header-group {
    height: 40px;
}

.recipe-favorite-popup-content-label {
    font-size: 14px;
    font-weight: 700;
}

.recipe-favorite-popup-show-again-toggle {
    font-size: 14px;
    margin: 8px;
}

.recipe-favorite-popup-okay-button-container {
    text-align: center;
}

.recipe-favorite-popup-okay-button {
    font-family: Montserrat;
    border: 1px solid #006272;
    border-radius: 120px;
    color: #006272;
    background: none;
    outline: none;
}
/*#endregion*/


@media only screen and (max-width: 400px) {
}