@font-face {
    font-family: 'Montserrat';
    src: url('../css/open-iconic/font/fonts/montserrat-variablefont_wght.ttf') format('truetype');
}
/* dynamic variable instantiation */
:root {
    --display-popup-variable: none;
    --display-search-bar-variable: none;
    --display-favorite-popup-variable: none;
}

html, body {
    font-family: Montserrat;
    overflow: hidden;
    max-height: 100vh;
    max-width: 100vw;
    background-color: #006272;
}
.primary-color-icon {
    filter: invert(13%) sepia(79%) saturate(4661%) hue-rotate(177deg) brightness(101%) contrast(103%);
}
/* navigation bar stuff*/
.navigation-bar-background {
    background: #006272;
    height: 10vh;
    padding: 16px;
}
.navigation-bar-button{
    background:none;
    border:none;
    outline:none;
}
.navigation-bar-button-icon {
    margin-top:-1px;
    width: 18px;
    height: 8px;
    vertical-align: middle;
}
.navigation-bar-text {
    display:inline;
    vertical-align:middle;
    margin:auto;
    top:50%;
    color: white;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 16px;
}
/*search bar stuff*/
.search-bar-background-wrapper {
    width: 100%;
    height: 10vh;
}
.search-bar-background-upper {
    position: relative;
    background: #006272;
    height:50%;
}
.search-bar-background-lower {
    position: relative;
    background: #FFFFFF;
    height: 50%;
}
.search-bar-with-icon{
    position: absolute;
    left:5vw;
    width:90vw;
    background-color:#FFFFFF;
    height:48px;
    margin-top:-24px;
    vertical-align:middle;
    border:none;
    border-radius: 1000px;
    box-shadow: rgba(0,0,0,.15) 0px 0px 12px;
    z-index:1;
}
.search-bar-icon {
    height:20px;
    width:20px;
    margin-left:14px;
    vertical-align:middle;
    align-content:center;
    filter: invert(91%) sepia(11%) saturate(98%) hue-rotate(165deg) brightness(93%) contrast(87%);
}
.search-bar{
    height:48px;
    vertical-align:middle;
    font-family:Montserrat;
    width: calc(100% - 64px);
    border:none;
}
    .search-bar::placeholder {
        color: #CED3D7;
    }
    .search-bar:focus{
        border:none;
        outline:none;
    }
/*contents*/
.content-wrapper {
    height: calc( 80vh - 50px );
    overflow-y: scroll;
    padding: 16px;
    background-color: white;
}
.header-label{
    font-family:Montserrat;
    font-size:18px;
    color:black;
    font-weight:700;
}
.recipes-wrapper{
    padding:6px;
    margin-bottom:24px;
}
.recipe-item {
    font-family: Montserrat;
    color: black;
    height: fit-content;
    display: grid;
    grid-template-columns: 60px auto  52px;
    grid-template-rows: 72px;
    align-items:center;
    border-bottom: 1px solid #EEF0F2;
}
.recipe-item-icon {
    height:32px;
    width:32px;
    grid-column: 1;
    grid-row:1;
    margin-left:20px;
}
.recipe-item-name-text {
    font-size: 16px;
    grid-column: 2;
    grid-row: 1;
    height: inherit;
    overflow-y: auto;
    align-content:flex-start;
    vertical-align:central;
    white-space: nowrap;
}
.recipe-item-right-button {
    background:white;
    border:none;
    color:black;
    grid-row: 1;
    grid-column: 3;
}


/*popup thing*/
.filter-popup-wrapper {
    position: absolute;
    font-family: Montserrat;
    display: var(--display-popup-variable);
}
.filter-popup-background-dark-overlay {
    background-color: rgba(25, 25, 25,0.6);
    position: fixed;
    height: 100vh;
    display: block;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 3;
}

.filter-popup-background {
    position: fixed;
    padding: 0px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    height: 70vh;
    top: 30vh;
    width: 100vw;
    left: 0;
    background-color: white;
    z-index: 4;
}
.filter-popup-body{
    overflow-y:auto;
    overflow-x:hidden;
    height:calc(70vh - 92px);
}
.filter-popup-header-title {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    margin: 16px;
    align-content: flex-start;
}
.filter-popup-exercise-item {
    margin: 16px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    display: grid;
    grid-template-columns: auto 50px;
    grid-template-rows: auto;
    align-items:center;
    vertical-align:middle;
}
.filter-popup-add-textbox-wrapper {
    padding: 16px;
    grid-column: 1;
    grid-row: 1;
    border-radius: 8px;
    border: solid 1px #EEF0F2;
}

.filter-popup-add-item-icon {
    height: 32px;
    width: 32px;
}

.filter-popup-add-textbox {
    outline: none;
    border: none;
    font-family: Montserrat;
    font-size: 14px;
}
.filter-popup-exercise-item-name-label {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    grid-row:1;
    grid-column:1;
}
.add-dish-popup-favorite-icon {
    justify-self: end;
    align-self: center;
    margin-left: auto;
    height: 24px;
    width: 24px;
    grid-row: 1;
    grid-column: 2;
}

.filter-popup-line-spacer {
    border-top: 8px solid rgba(238, 240, 242, 1);
}
.filter-popup-number-of-servings-card {
    border: 1px solid rgba(238, 240, 242, 1);
    border-radius: 8px;
    height:60px;
    padding: 16px;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 24px;
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start:1;
    grid-row-end:1;
    grid-template-rows:auto;
    grid-template-columns:auto auto;
}
.filter-popup-number-align-right {
    grid-row: 1;
    grid-column: 2;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto 24px 26px 24px;
    text-align: center;
    align-content: center;
    flex-wrap: nowrap;
    vertical-align: middle;
}
.filter-popup-add-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 24px;
    width: 24px;
    padding:0;
    grid-row: 1;
    grid-column: 2;
    border: 1px solid rgba(25, 25, 25, 1);
    background: none;
    border-radius: 6px;
}
    .filter-popup-add-button:disabled {
        border: 1px solid rgba(206, 211, 215, 1);
        color: rgba(206, 211, 215, 1);/* uhh this might be an icon*/
    }
.filter-popup-subtract-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding:0;
    height: 24px;
    grid-row: 1;
    grid-column: 4;
    width: 24px;
    border: 1px solid rgba(25, 25, 25, 1);
    background: none;
    border-radius: 6px;
}

    .filter-popup-subtract-button:disabled {
        border: 1px solid rgba(206, 211, 215, 1);
        color: rgba(206, 211, 215, 1); /* uhh this might be an icon*/
    }
.filter-popup-addorsubtract-button-icon {
    filter: invert(0%) sepia(0%) saturate(7470%) hue-rotate(279deg) brightness(79%) contrast(106%);
    align-self:center;
    text-align:center;
    margin-top:-4px;
    height: 12px;
    width: 12px;
}
#filter-popup-number-of-servings-label{
    grid-row:1;
    grid-column:1;
}
#filter-popup-number {
    grid-row: 1;
    grid-column: 3;
    text-align: center;
    width: fit-content;
    margin-left:8px;
    margin-right:8px;
}

.filter-popup-how-much-you-ate-card {
    border: 1px solid rgba(238, 240, 242, 1);
    border-radius: 8px;
    padding: 16px;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 24px;
    display:grid;
    grid-row-start:1;
    grid-row-end:2;
}
#filter-popup-how-much-you-ate-label{
    grid-row:1;
}
.radio {
    grid-row: 2;
    margin-top:20px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}
.radio input {
    height: 36px;
    width: 52px;
    appearance: none;
    outline: none;
    border: 1px solid #EEF0F2;
    padding-top:5px;
    font-family: Montserrat;
    border-radius: 6px;
    background: none;
    color: rgba(77, 77, 77, 1);
    margin:auto;
}
    .radio input:checked  {
        border: 1px solid rgba(0, 98, 114, 1);
        font-family: Montserrat;
        text-align: center;
        background: rgba(0, 98, 114, 1);
        color: white;
        border-radius: 6px;
    }
    .radio input:not(:checked) {
        border: 1px solid #EEF0F2;
        font-family: Montserrat;
        text-align: center;
        background: none;
        color: rgba(77, 77, 77, 1);
        border-radius: 6px;
    }
.radio input:before {
    content: attr(label);
    display: inline-block;
    position:center;
    text-align: center;
    width: 100%;
}
.filter-popup-notes {
    margin: 16px;
    width: calc(100vw - 48px);
    border-radius: 8px;
    border: 1px solid rgba(238, 240, 242, 1);
    padding:16px;
    resize: vertical;
}
    .filter-popup-notes:active {
        outline: none !important;
        border: 1px solid #4D4D4D;
    }


.filter-popup-footer {
    position: absolute;
    bottom: 24px;
    width: 100vw;
    display: grid;
    grid-template-columns: auto auto;
    grid-row-start: 1;
    grid-row-end: 1;
}

.filter-popup-footer-discard-button {
    position: relative;
    border-radius: 500px;
    font-family: Montserrat;
    color: rgba(0, 98, 114, 1);
    font-size: 16px;
    grid-column: 1;
    grid-row: 1;
    margin: auto;
    text-align: center;
    width: 40vw;
    height: 52px;
    font-weight: 700;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    background: none;
    border: 1px solid rgba(0, 98, 114, 1);
}
.filter-popup-footer-add-button {
    position: relative;
    border-radius: 500px;
    font-family: Montserrat;
    color: white;
    font-size: 16px;
    grid-column:2;
    margin:auto;
    grid-row:1;
    text-align: center;
    width:40vw;
    height:52px;
    font-weight: 700;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    background: rgba(0, 98, 114, 1);
    border: 1px solid rgba(0, 98, 114, 1);
}

.red-icon {
    filter: invert(23%) sepia(91%) saturate(7496%) hue-rotate(0deg) brightness(105%) contrast(120%);
}


/*#region favorite notification popup*/
.recipe-favorite-popup-wrapper {
    position: absolute;
    font-family: Montserrat;
    display: var(--display-favorite-popup-variable);
}

.recipe-favorite-popup-background-dark-overlay {
    background-color: rgba(25, 25, 25,0.6);
    position: fixed;
    height: 100vh;
    display: block;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 7;
}

.recipe-favorite-popup-body {
    position: fixed;
    padding: 16px;
    margin: auto;
    border-radius: 12px;
    height: fit-content;
    width: 90vw;
    top: 50%;
    left: 5vw;
    transform: translate(0, -50%);
    background-color: white;
    z-index: 8;
}

.recipe-favorite-popup-header-group {
    height: 40px;
}

.recipe-favorite-popup-content-label {
    font-size: 14px;
    font-weight: 700;
}

.recipe-favorite-popup-show-again-toggle {
    font-size: 14px;
    margin: 8px;
}

.recipe-favorite-popup-okay-button-container {
    text-align: center;
}

.recipe-favorite-popup-okay-button {
    font-family: Montserrat;
    border: 1px solid #006272;
    border-radius: 120px;
    color: #006272;
    background: none;
    outline: none;
}
/*#endregion*/


@media only screen and (max-width: 400px) {
}