@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Database Graph <a href="\aircontext.svg" />>>> Database Graph</a>.</p>
    <p></p>
    <p>12weekPlan: <a href="/Eds12weekPlan1">12weekPlan</a></p>
    <p>WeeklyPlans: <a href="/EdsWeeklyPlans">WeeklyPlans</a></p>
    <p>DailyPlans: <a href="/EdsDailyPlans">DailyPlans</a></p>
    <p>TrainingSessions: <a href="/EdsTrainingSessions">TrainingSessions</a></p>
    <p>Exercises: <a href="/EdsExercises">Exercises</a></p>
    <p>Sets: <a href="/EdsSets">Sets</a>.</p>
    <p>SetMetrics: <a href="/EdsSetMetrics">SetMetrics</a></p>
    <p>ExerciseTypes: <a href="/EdsExerciseTypes">ExerciseTypes</a></p>
    <p>ExerciseClasses: <a href="/EdsExerciseClasses">ExerciseClasses</a></p>
    <p>MainMuscleWorkeds: <a href="/EdsMainMuscleWorkeds">MainMuscleWorkeds</a></p>
    <p>OtherMuscleWorkeds: <a href="/EdsOtherMuscleWorkeds">OtherMuscleWorkeds</a></p>
    <p>Equipments: <a href="/EdsEquipments">Equipments</a></p>
    <p>MechanicsTypes: <a href="/EdsMechanicsTypes">MechanicsTypes</a></p>
    <p>Levels: <a href="/EdsLevels">Levels</a></p>
    <p>Sports: <a href="/EdsSports">Sports</a></p>
    <p>Force: <a href="/EdsForces">Force</a></p>
@*    <p>Sports: <a href="/EdsSports1">Sports</a>.</p>*@
    <p>AvaiableSetMetrics: <a href="/EdsAvaiableSetMetrics">AvaiableSetMetrics</a></p>
    <p>SetDefaults: <a href="/EdsSetDefaults">SetDefaults</a>.</p>
    <p>SetMetricsDefaults: <a href="/EdsSetMetricsDefaults">SetMetricsDefaults</a></p>
    <p>SetMetricTypes: <a href="/EdsSetMetricTypes">SetMetricTypes</a></p>
    <p>Users: <a href="/Users">Users</a></p>

    
</div>
