@{
}

<h3>Lookup Directory</h3>
<span class="text-muted mb-3">This area is for accessing editors with regards to Lookups used by various parts of the system.</span>
<h4>
    Exercise Lookups
</h4>
<div class="mb-3">
    <ul class="list-group list-group-flush">
        <li class="list-group-item mb-3">
            <a class="fw-bold" asp-action="ExerciseType">Exercise Types</a>
            <span class="ms-2">This lookup is used when adding Exercises to Training Sessions</span>
        </li>
        <li class="list-group-item mb-3">
            <a class="fw-bold" asp-action="TrainingSessionTemplates">Training Session Templates</a>
            <span class="ms-2">Lists training session templates used by the system</span>
        </li>
    </ul>
</div>
<h4>Supplement Lookups</h4>
<div class="mb-3">
    <ul class="list-group list-group-flush">
        <li class="list-group-item mb-3">
            <a class="fw-bold" asp-action="SupplementReference">Supplement Reference</a>
            <span class="ms-2">These lookups are used when adding supplements to the weekly supplement plan</span>
        </li>
    </ul>
</div>
