@font-face {
    font-family: 'Montserrat';
    src: url('../css/open-iconic/font/fonts/montserrat-variablefont_wght.ttf') format('truetype');
}
/* dynamic variable instantiation */
:root[b-owmlg31lxh] {
    --display-popup-variable: none;
}

html[b-owmlg31lxh], body[b-owmlg31lxh] {
    font-family: Montserrat;
    overflow: hidden;
    max-height:100vh;
    max-width:100vw;
}
/* navigation bar stuff*/
.navigation-bar-background[b-owmlg31lxh] {
    background: #006272;
    height: 10vh;
    padding: 16px;
}
.navigation-bar-button[b-owmlg31lxh]{
    background:none;
    border:none;
    outline:none;
}
.navigation-bar-button-icon[b-owmlg31lxh] {
    margin-top:-1px;
    width: 18px;
    height: 8px;
    vertical-align: middle;
}
.navigation-bar-text[b-owmlg31lxh] {
    display:inline;
    vertical-align:middle;
    margin:auto;
    top:50%;
    color: white;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 16px;
}
/*search bar stuff*/
.search-bar-background-wrapper[b-owmlg31lxh] {
    width: 100%;
    height: 10vh;
}
.search-bar-background-upper[b-owmlg31lxh] {
    position: relative;
    background: #006272;
    height:50%;
}
.search-bar-background-lower[b-owmlg31lxh] {
    position: relative;
    background: #FFFFFF;
    height: 50%;
}
.search-bar-with-icon[b-owmlg31lxh]{
    position: absolute;
    left:5vw;
    width:90vw;
    background-color:#FFFFFF;
    height:48px;
    margin-top:-24px;
    vertical-align:middle;
    border:none;
    border-radius: 1000px;
    box-shadow: rgba(0,0,0,.15) 0px 0px 12px;
    z-index:1;
}
.search-bar-icon[b-owmlg31lxh] {
    height:20px;
    width:20px;
    margin-left:14px;
    vertical-align:middle;
    align-content:center;
    filter: invert(91%) sepia(11%) saturate(98%) hue-rotate(165deg) brightness(93%) contrast(87%);
}
.search-bar[b-owmlg31lxh]{
    height:48px;
    vertical-align:middle;
    font-family:Montserrat;
    width: calc(100% - 64px);
    border:none;
}
    .search-bar[b-owmlg31lxh]::placeholder {
        color: #CED3D7;
    }
    .search-bar:focus[b-owmlg31lxh]{
        border:none;
        outline:none;
    }

/* filter stuff*/
.filter[b-owmlg31lxh] {
    vertical-align:central;
    height: 50px;
    overflow-x: scroll;
    overflow-y:hidden;
    white-space: nowrap;
}
.filter-button[b-owmlg31lxh] {
    font-family: Montserrat;
    font-size:14px;
    color: #4D4D4D;
    background: white;
    margin-top: 10px;
    border-radius: 1000px;
    height: 36px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #EEF0F2;
    margin-left: 16px;
    width: fit-content;
    text-align: center;
    padding-top:-3px;
}
.filter-button-icon[b-owmlg31lxh] {
    filter: invert(0%) sepia(10%) saturate(31%) hue-rotate(318deg) brightness(103%) contrast(80%);
    height: 15px;
    width: 15px;
    margin-top:-3px;
    margin-right:8px;
}
/*contents*/
.content-wrapper[b-owmlg31lxh] {
    height:calc( 80vh - 50px );
    overflow-y: scroll;
    padding:16px;
}
.header-label[b-owmlg31lxh]{
    font-family:Montserrat;
    font-size:18px;
    color:black;
    font-weight:700;
}
.exercises-wrapper[b-owmlg31lxh]{
    padding:6px;
    margin-bottom:24px;
}
.exercise-item[b-owmlg31lxh] {
    font-family: Montserrat;
    color: black;
    height: fit-content;
    display: grid;
    grid-template-columns: 60px auto auto 52px;
    grid-template-rows: 36px 36px;
    border-bottom: 1px solid #EEF0F2;
}
.exercise-item-icon[b-owmlg31lxh] {
    filter: invert(64%) sepia(7%) saturate(576%) hue-rotate(161deg) brightness(88%) contrast(90%);
    height:20px;
    width:20px;
    grid-column: 1;
    grid-row:1/2;
    margin-top:24px;
    margin-left:20px;
}
.exercise-subtext-wrapper[b-owmlg31lxh] {
    grid-row: 2;
    grid-column: 2/3;
}
.exercise-item-name-text[b-owmlg31lxh] {
    margin-top: 12px;
    font-size: 16px;
    grid-column: 2/3;
    grid-row: 1;
    height: inherit;
    overflow-y: auto;
    align-content: flex-start;
    white-space: nowrap;
}
.exercise-item-muscle-text[b-owmlg31lxh] {
    font-size: 10px;
    display:inline;
}
.exercise-item-equipment-text[b-owmlg31lxh] {
    font-size: 10px;
    display: inline;
}
.exercise-item-right-button[b-owmlg31lxh] {
    background:white;
    border:none;
    grid-row: 1/2;
    color:black;
    grid-column: 4;
    margin-top:20px;
}


/*popup thing*/
/*does this also darken the native stuff?*/
.filter-popup-wrapper[b-owmlg31lxh] {
    position: absolute;
    display: var(--display-popup-variable);
}
.filter-popup-background-dark-overlay[b-owmlg31lxh] {
    background-color: rgba(25, 25, 25,0.6);
    position: fixed;
    height: 100vh;
    display: block;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 3;
}

.filter-popup-background[b-owmlg31lxh] {
    position: fixed;
    padding: 16px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    height: 90vh;
    top: 10vh;
    width: 100vw;
    left: 0;
    background-color: white;
    z-index: 4;
}

.filter-popup-header[b-owmlg31lxh] {
}

.filter-popup-header-title[b-owmlg31lxh] {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    margin: 16px;
    align-content: flex-start;
}

.filter-popup-header-close-button[b-owmlg31lxh] {
    position: absolute;
    right: 16px;
    top: 8px;
    margin: 16px;
    width: fit-content;
    color: black;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 500px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    padding-top: 8px;
    padding-bottom: 8px;
    background: none;
    border: 1px solid #EEF0F2;
}

.filter-popup-header-close-button-icon[b-owmlg31lxh] {
    filter: invert(0%) sepia(100%) saturate(8%) hue-rotate(125deg) brightness(107%) contrast(101%);
}

.filter-popup-grid[b-owmlg31lxh] {
    column-gap: 16px;
    row-gap: 16px;
    grid-auto-flow: row;
    grid-column-start: 1;
    grid-column-end: 3;
    columns: 2;
    grid-template-columns: auto auto;
    grid-auto-rows: fit-content();
    z-index: 5;
}

.filter-popup-item[b-owmlg31lxh] {
    margin: 8px;
    display: inline;
    background: none;
    border: 1px solid #EEF0F2;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    padding: 12px;
}

    .filter-popup-item:focus[b-owmlg31lxh] {
        background: #D6F9FF;
        border: 1px solid #006272;
        transition: ease;
        font-weight: 700;
    }

.filter-popup-item-image[b-owmlg31lxh] {
    object-fit: cover;
    border-radius: 8px;
    height:69px;
    width: 139px;
    max-height: 100%;
    max-width: 100%;
    align-content: center;
}

.filter-popup-item-name[b-owmlg31lxh] {
    color: black;
    font-family: Montserrat;
    font-size: 16px;
}

@media only screen and (max-width: 400px) {

}